/*
DEVELOPMENT BY IMAJIKU
Copyright 2018
 */

* {
    font-family: 'Lato', sans-serif;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * NAVBAR PROPERTIES
 * ---------------------------------------------------------------------------------------------------------------------
 */

.skin-red .main-header .navbar {
    background-color: #f24036;
}

.navbar-nav > li > a {
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu,
.navbar-nav > li > .dropdown-menu, .dropdown-submenu .dropdown-menu,
.skin-red .main-header .navbar {
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% top;
    background-attachment: fixed;
}

.skin-red .main-header .navbar .nav > li > a,
.custom-navbar > li > a,
.dropdown-menu > li > a {
    color: #000;
}

.skin-red .main-header .navbar .nav > li > a:hover,
.skin-red .main-header .navbar .nav > li > a:active,
.skin-red .main-header .navbar .nav > li > a:focus,
.skin-red .main-header .navbar .nav .open > a,
.skin-red .main-header .navbar .nav .open > a:hover,
.skin-red .main-header .navbar .nav .open > a:focus,
.skin-red .main-header .navbar .nav > .active > a,
.main-header .navbar .dropdown-menu li a:hover,
.main-header .navbar .dropdown-menu li a:focus,
.skin-red .main-header .navbar .dropdown-menu li a:hover,
.dropdown-menu > li > a:hover {
    color: #fff !important;
}
.img-logo {
    margin: 3px auto;
    width: 135px;
}

.skin-blue .main-header .logo {
    color: blue;
    background: #fff;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover{
    background: white;
    color : blue;
}

.skin-blue .main-header .logo:hover{
    color: orangered;
    background: #f2f2f2;
}

.logo-mini b{
    font-weight: 900;
}

.skin-blue .main-header .navbar {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,1847c9+0,0c1d6b+84,0c1d6b+84 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffffff 0%, #1847c9 0%, #0c1d6b 84%, #0c1d6b 84%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#1847c9 0%,#0c1d6b 84%,#0c1d6b 84%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ffffff 0%,#1847c9 0%,#0c1d6b 84%,#0c1d6b 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0c1d6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{

}
.skin-blue .sidebar-menu>li.header {
    color: #fff;
}

.navbar-toggle {
    color: #B36500;
}

@media (max-width: 991px) {
    .navbar-custom-menu .navbar-nav > li > a {
        padding-top: 15px;
    }
}

@media (max-width: 767px) {
    .navbar-brand {
        padding-top: 10px !important;
    }

    .main-header .navbar .dropdown-menu li a {
        color: #000 !important;
    }
}

.navbar-brand {
    padding-top: 5px;
}

.navbar-header img {
    max-width: 150px;
    margin-top: 5px;
    padding: 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * GENERAL ELEMENT
 * ---------------------------------------------------------------------------------------------------------------------
 */
.bg-gray {
    color: white;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,1847c9+0,0c1d6b+84,0c1d6b+84 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffffff 0%, #1847c9 0%, #0c1d6b 84%, #0c1d6b 84%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#1847c9 0%,#0c1d6b 84%,#0c1d6b 84%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ffffff 0%,#1847c9 0%,#0c1d6b 84%,#0c1d6b 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0c1d6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}


@media (max-width: 767px) {
    .content {
        padding-left: 0;
        padding-right: 0;
    }
}

.content-header {
    margin-top: 20px;
}

.btn {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.fw-900 {
    font-weight: 900 !important;
}

.padding-right-0 {
    padding-right: 0 !important;
}

.padding-left-0 {
    padding-left: 0 !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.datepicker {
    padding: 6px 12px !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.thumbnail {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

textarea {
    overflow: hidden;
    resize: vertical;
}

.fileinput .btn {
    vertical-align: top !important;
}

.image-pattern {
    position: relative;
    background: url('../images/pattern.png');
    background-size: 24px 24px;
    /*border: 1px solid #d4d4d4;*/
    /*box-sizing: border-box;*/
    /*padding: 20px;*/
}

.datepicker-dropdown {
    background: #fff;
}


/* progress bar */
#progress-wrp {
    border: 1px solid #0099CC;
    padding: 1px;
    position: relative;
    border-radius: 3px;
    margin: 0px;
    margin-bottom: 10px;
    height: 25px;
    text-align: left;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
}

#progress-wrp .progress-bar {
    height: 20px;
    border-radius: 3px;
    background-color: #f39ac7;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}

#progress-wrp .status {
    top: 3px;
    left: 50%;
    position: absolute;
    display: inline-block;
    color: #000000;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * ELEMENT BOX
 * ---------------------------------------------------------------------------------------------------------------------
 */

.box {
    border-radius: 0;
}

.box .box-header {
    padding: 20px 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #B36500;
}

.box .box-header h3 {
    font-weight: 600;
    text-transform: uppercase;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * ELEMENT TABLES
 * ---------------------------------------------------------------------------------------------------------------------
 */
#tDataTable {
    min-width: 100%;
    width: 100%;
}

table.dataTable .sorting::after,
table.dataTable .sorting_asc::after,
table.dataTable .sorting_desc::after,
table.dataTable.table-condensed .sorting::after,
table.dataTable.table-condensed .sorting_asc::after,
table.dataTable.table-condensed .sorting_desc::after {
    font-size: 11px;
    top: 8px;
}

table.dataTable td.reorder {
    background: #eee;
}

.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0;
}

.pagination > li > a, .pagination > li > span {
    padding: 5px 8px;
}

div.dataTables_wrapper div.dataTables_info {
    font-size: 11px;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * ELEMENT MODAL
 * ---------------------------------------------------------------------------------------------------------------------
 */
.modal-footer {
    padding: 8px;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * ELEMENT BOOTSTRAP TAGS INPUT
 * ---------------------------------------------------------------------------------------------------------------------
 */
.bootstrap-tagsinput {
    display: block;
    width: 100%;
    min-height: 32px;
    padding: 1px 3px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 0;
}

.bootstrap-tagsinput > span {
    border-radius: 0 !important;
    font-weight: 400;
    padding: 3px 28px 4px 8px;
    font-size: 13px;
    border: 1px solid #285E8E;
    background: #3276B1 !important;
}

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: auto !important;
    max-width: inherit;
    padding: 5px;
}

.bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none
}

.bootstrap-tagsinput .tag {
    color: #FFF;
    position: relative;
    margin: 3px 0 3px 2px;
    display: inline-block
}

.bootstrap-tagsinput .tag [data-role=remove] {
    display: block;
    top: -1px;
    right: 0;
    padding: 3px 4px 3px 5px;
    width: 23px;
    height: 22px;
    position: absolute;
    cursor: pointer
}

.bootstrap-tagsinput .tag [data-role=remove]:hover {
    background: rgba(0, 0, 0, .3)
}

.bootstrap-tagsinput .tag [data-role=remove]:after {
    content: "\f057";
    font-family: fontAwesome;
    padding: 2px 1px;
    line-height: 17px;
    font-size: 15px;
    text-align: center
}

.bootstrap-tagsinput .tag [data-role=remove]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05)
}

.bootstrap-tagsinput .tag [data-role=remove]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * IMAGE ASPECT RATIO
 * ---------------------------------------------------------------------------------------------------------------------
 */

.ratio {
    position: relative;
    overflow: hidden;
    width: 100% !important;
    margin: auto;
    /*background-color: rgba(0, 0, 0, .1);*/
    background: url('../img/pattern.png');
    background-size: 24px 24px;
}

.ratio1-1 {
    padding-top: 100%;
}

.ratio2-1 {
    padding-top: 50%;
}

.ratio4-3 {
    padding-top: 75%;
}

.ratio16-9 {
    padding-top: 56.25%;
}

.ratio img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

/* Caption image inside class ratio */
.ratio .img-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
