/*!
* PT. IMAJIKU CIPTA MEDIA
* Copyright 2019-2020 IMAJIKU.
*/

/* =Button
------------------------------------------------------------ */
button:focus{
	outline: none !important;
}

/*button*/


/* =Form input
------------------------------------------------------------ */
.form-control{
	height: 42px;
	color: #999999;
}
.form-control::placeholder{
	color: #c1c1c1;
	font-size: 13px;
}

/*form group*/
.form-group-mjk label{
	color: #999999;
	font-size: 16px;
	font-weight: 600;
}
.form-group-mjk .form-control{
	background-color: #ffffff;
	border-color: #ced4da;
	color: #999999;
}
.form-group-mjk textarea{
	text-align: left;
}

.form-inline .form-control {
	width: 100%;
}
.form-inline label {
	margin-bottom: .5rem;
}

/*input group*/
.input-group-mjk .form-control{
	background-color: #ffffff;
	border-color: #ced4da;
	color: #999999;
}
.input-group-mjk .input-group-append{}
.input-group-mjk .input-group-text{
	background-color: #ffffff;
	border-top: 1px solid #ced4da;
	border-right: 1px solid #ced4da;
	border-bottom: 1px solid #ced4da;
	border-left: 1px solid #ffffff;
	position: relative;
	left: 0px;
}
.input-group-mjk .input-group-text i{
	color: #f98341;
	font-size: 12px;
}
.input-group {
	margin-bottom: 1rem;
}


/* Input upload files */
.file-mjk{
	overflow: hidden;
	height: 42px;
}
.file-mjk .custom-file-label{
	cursor: pointer;
	background-color: #ffffff;
	border-color: #ced4da;
	color: #999999;
	font-size: 13px;
	line-height: 24px;
	height: 42px;
	margin-bottom: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.file-mjk .custom-file-label::after{
	content: "UPLOAD";
	color: #ffffff;
	font-weight: 600;
	background-color: #f98341;
	border-left: unset;
	min-width: 80px;
	width: auto;
	text-align: center;
	display: block;
	line-height: 40px;
	height: 40px;
	padding: 0 10px 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.file-mjk .custom-file-input{
	height: 42px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/* Input upload photo profile*/
.profile-photo{
	display: block;
	margin: 0;
	width: 150px;
	height: 150px;
	position: relative;
}
.profile-photo-img{
	display: block;
	overflow: hidden;
	width: 150px;
	height: 150px;
	border: 1px solid #dddddd;
	background-color: #232323;
	z-index: 1;
}
.profile-photo-img img{
	display: block;
	width: 150px;
	height: 150px;
	object-fit: contain;
	object-position: center;
	max-width: 100%;
	max-height: 100%;
}
.profile-photo-action{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.profile-photo-action:hover,
.profile-photo-action:hover input{
	cursor: pointer;
}
.profile-photo-action input[type="file"] {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: transparent;
	overflow: hidden;
	z-index: 3;
}

/*checkbox*/
.check-mjk .custom-control-label{
	line-height: 20px;
	font-weight: 400;
}
.check-mjk .custom-control-label::before{
	border-color: #999999;
}
.check-mjk:hover .custom-control-label{
	cursor: pointer;
}
.check-mjk .custom-control-input:checked ~ .custom-control-label::before{
	border-color: #f98341;
	background-color: #f98341;
}

/*radio*/
.radio-mjk .custom-control-label{
	line-height: 20px;
	font-weight: 400;
}
.radio-mjk .custom-control-label::before{
	border-color: #999999;
}
.radio-mjk:hover .custom-control-label{
	cursor: pointer;
}
.radio-mjk .custom-control-input:checked ~ .custom-control-label::before{
	border-color: #f98341;
	background-color: #f98341;	
}

/*error message for form*/
label.error,
label.success,
.error,
.success{
	display: block;
	position: relative;
	padding: 2px 5px 2px;
	font-size: 12px;
	font-weight: 300;
	text-transform: none;
}
.error{
	color: #FF0000 !important;
}
.success{
	color: #3c763d !important;
}
.form-group > .form-control.error,
.form-group > .form-control.success{
	font-size: 16px;
	font-weight: 400;
	padding: .375rem .75rem;		
}
.form-group > .error,
.form-group > .success{
	font-size: 12px;
}


/*filter*/
.filter-mjk-group-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border: 1px solid #ddd;
	padding: 20px 15px 10px;
	flex-wrap: wrap;
}
.filter-mjk-group{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.filter-mjk-group .form-group{
	margin-right: 15px;
	margin-bottom: 10px;
}
.filter-mjk-group-action{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.filter-mjk-group-action .btn{
	margin-bottom: 10px;
}
.filter-mjk-group .select-mjk-box{
	width: 150px;
	max-width: 150px;
}


/* =Select2
-------------------------------------------------- */
/*global select*/
.select-mjk-box{
	background-color: #ffffff;
	margin: 0;
	border-radius: 4px;	
	-webkit-border-radius: 4px;	
	-moz-border-radius: 4px;
	min-width: 120px;
	border: 1px solid #ced4da;
}
.select-mjk-box.versi2{
	margin: 0 0 1rem 0;
	border-radius: 0;	
	-webkit-border-radius: 0;	
	-moz-border-radius: 0;	
}

.select-mjk-group{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.select-mjk-group label{
	margin: 0 15px 0 0;
	font-size: 14px;
}

/*if add icon at left*/
.select-mjk-box-prepend{
	position: relative;
}
.select-mjk-box-prepend .input-group-text{
	padding: 0 10px 0 15px;
	height: 44px;
	background: #ffffff;
	position: relative;
	z-index: 1;
	margin-right: -3px;
	border-top: 1px solid #ced4da;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #ced4da;
	border-left: 1px solid #ced4da;
	border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.select-mjk-box-prepend .input-group-text i{
	font-size: 14px;
	color: #f98341;
}
.select-mjk-box .select2{
	border: none;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	padding: 0;
}

.select-mjk-box .select2:focus{
	outline: none;
}
.select-mjk-box .select2-container{
	display: block !important;
	width: 100% !important;
}
.select-mjk-box .select2-container--default .select2-results__option--highlighted[aria-selected]{
	/*background-color: $co-dark-orange !important;*/
}
.select-mjk-box .select2-container--default .select2-selection--single .select2-selection__rendered{
	color: #999999;
	line-height: 42px;
	padding-right: 0;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}
.select-mjk-box .select2-container--default .select2-selection--single{
	border-color: transparent;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	padding: 0px 20px 0px 0px;
	height: 42px;
	font-size: 14px;
	font-weight: 300;
	background-color: transparent;
	outline: none;
	-webkit-outline: none;
	-moz-outline: none;
}
.select-mjk-box .select2-container--default.select2-container--disabled .select2-selection--single,
.select-mjk-box .select2-container--default.select2-container--disabled .select2-selection--multiple{
	background-color: #eeeeee;
}
.select-mjk-box .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__arrow b,
.select-mjk-box .select2-container--default.select2-container--disabled .select2-selection--multiple .select2-selection__arrow b{
	border-color: #999999 transparent transparent transparent ;
}

/*caret select2*/
.select-mjk-box .select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 42px;
	top: 0;
	width: 30px;
	text-align: center;
}
.select-mjk-box .select2-container--default .select2-selection--single .select2-selection__arrow b{
	border-color: #f98341 transparent transparent transparent ;
	border-width: 5px 4px 0 4px;
}
.select-mjk-box .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
	border-color:  transparent transparent #f98341 transparent !important;
	border-width: 0 4px 5px 4px;
}

/*select2 dropdown*/
.select2-results__option{
	font-size: 14px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: #f98341;
}
.select2-container--default .select2-results__option[aria-selected="true"]{

}
.select2-results__option[aria-selected]{
	color: #999999;
}

/*select2 translate*/
.select-translate-group{
	display: inline-block;
	vertical-align: middle;
	padding: 12px 10px 12px;
}
.select-translate-group .fas{
	color: #ffffff;
	display: inline-block;
	vertical-align: middle;
	margin-right: 2px;
}
.select-translate-group .select2-container{
	display: inline-block;
	vertical-align: middle;
	width: auto;
}
.select-translate-group .select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: transparent !important;
}
.select-translate-group .select2-container--default .select2-selection--single .select2-selection__rendered{
	color: #ffffff;
	line-height: 30px;
	padding-right: 0;
	padding-left: 0;
	text-align: center;
}
.select-translate-group .select2-container--default .select2-selection--single{
	border-color: transparent;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	padding: 0px 20px 0px 0px;
	height: 30px;
	font-size: 14px;
	background-color: transparent;
	outline: none;
	-webkit-outline: none;
	-moz-outline: none;
}
.select-translate-group .select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 30px;
	top: 0;
}
.select-translate-group .select2-container--default .select2-selection--single .select2-selection__arrow b{
	border-color: #ffffff transparent transparent transparent ;
	border-width: 5px 4px 0 4px;
}
.select-translate-group .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
	border-color:  transparent transparent #ffffff transparent !important;
	border-width: 0 4px 5px 4px;
}

/* select2 translate with selectpicker*/
.select-language{
	margin-bottom: 0 !important;
}
.select-language .selectpicker{
	padding: 0;
}
.select-language .flag-icon{
	width: 13px;
}
.select-language .filter-option{
	font-size: 13px;
	color: #0c1d6b;
}
.select-language .dropdown-menu{
	flex-direction: column;
	padding: 0;
	background-color: #ffffff;
}
.select-language .dropdown-menu ul{
	padding: 0;
}
.select-language .dropdown-menu li{
	padding: 5px;
	min-width: 60px;
}
.select-language .dropdown-toggle{
	background-color: #ffffff;
	border-color: #ffffff;
	position: relative;
	bottom: 0;
	padding: 0 15px 0 5px;
}
.select-language.bootstrap-select .btn:focus{
	outline: solid transparent !important;
	outline-offset: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.select-language.btn-group{
	padding: 0 !important;
	margin: 0 5px 0;
}
.select-language .dropdown-toggle:after{
	margin-left: 0;
}
.select-language.btn-group .btn .filter-option{
	vertical-align: middle;
}
.select-language.btn-group .dropdown-menu li > a{
	font-size: 13px;
}
.select-language .btn-light{
	color: #666666;
}
.select-language.show .dropdown-menu{
	display: block;
	min-width: 60px;
}

/* =table datatables
------------------------------------------------------------ */
table{
	width: 100%;
}
table.dataTable thead th, 
table.dataTable thead td{
	border-top: 2px solid #91723a;
	border-bottom: none;
	text-transform: uppercase;
	font-size: 14px;
}

table.dataTable tbody th, 
table.dataTable tbody td{
	padding: 10px 10px 10px;
}
table.dataTable tbody tr.odd, 
table.dataTable.stripe tbody tr.odd, 
table.dataTable.display tbody tr.odd{
	background-color: #f4f1eb;
}
#table-report.table td, 
#table-report.table th{
	border-top: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	padding: 0;
	border: none;
	background-color: transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	border: none;
	background: none;
}
table.dataTable .page-item.disabled .page-link{
	border-color: transparent;
	background-color: transparent;
}
table.dataTable .page-item.active .page-link{
	border-color: #91723a;
	background-color: #91723a;
}
table.dataTable .page-item.active .page-link:hover,
table.dataTable .page-item.disabled .page-link:hover{
	color: #ffffff !important;
	opacity: 0.7;
}
.dataTables_wrapper .dataTables_filter{
	float: left;
}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before, 
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child::before{
	background-color: #91723a;
	content: "\f078";
	font-family: "Font Awesome\ 5 Free";
	font-weight: 900;
	text-align: center;
	font-size: 9px;
	line-height: 14px;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child::before, 
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child::before{
	background-color: #91723a;
	content: "\f077";
	font-family: "Font Awesome\ 5 Free";
	font-weight: 900;
	text-align: center;
	font-size: 9px;
	line-height: 14px;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody{
	border-bottom: none;
}

/* =table
------------------------------------------------------------ */
.data-mjk-list{}
.data-mjk-list .row{
	margin-bottom: 10px;
}
.data-mjk-list .row .col-12:first-child{
	font-weight: 600;
}

.table-mjk-simple{}
.table-mjk-simple thead{}
.table-mjk-simple thead > tr{
	background-color: #FFB74E;
}
.table-mjk-simple thead > tr th{
	border-bottom: 1px solid #f98341;
	color: #ffffff;
}
.table-mjk-simple tbody > tr{
	background-color: #fafafa;
}
.table-mjk-simple thead > tr th,
.table-mjk-simple tbody > tr td{
	padding: 10px 15px 10px;
	min-width: 130px;
}
.table-mjk-simple thead > tr th.th-action,
.table-mjk-simple tbody > tr td.td-action{
	min-width: 70px;
	text-align: center;
}
.table-mjk-simple tbody > tr td{
	color: #999999;
}
.table-mjk-simple tbody > tr table tbody tr{
	background-color: transparent;
}
.table-mjk-simple-secondary tbody tr:hover{
	background-color: transparent;
}
.table-mjk-simple-secondary tbody tr td{
	padding: 5px;
}
.table-responsive{
	position: relative;
	z-index: 1;
}
