/*!
* PT. IMAJIKU CIPTA MEDIA
* Copyright 2019-2020 IMAJIKU.
*/

/* =Button
------------------------------------------------------------ */
button:focus{
	outline: none !important;
}
.btn.focus, .btn:focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem transparent;
	-webkit-box-shadow: 0 0 0 0.2rem transparent;
	-moz-box-shadow: 0 0 0 0.2rem transparent;
}

/*button default*/
.btn-mjk{
	color: #d9bb84 !important;
	font-weight: 400;
	background: transparent;
	padding: 12px 35px 12px;
	min-height: 42px;
	line-height: 22px;
	min-width: 120px;
	font-weight: 500;
	font-size: 14px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #d9bb84;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

/* Button Animation Shutter In Horizontal */
.btn-mjk {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.btn-mjk:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #d9bb84;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.btn-mjk:hover,
.btn-mjk:focus,
.btn-mjk:active {
	color: #ffffff !important;
}
.btn-mjk:hover:before,
.btn-mjk:focus:before,
.btn-mjk:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/*button custom gradient*/
.btn-mjk.outline-gradient {
	border: 2px solid;
	border-image: radial-gradient(circle, rgba(173,138,90,1) 0%, rgba(223,204,179,1)) 1;
	border-image: -webkit-radial-gradient(circle, rgba(173,138,90,1) 0%, rgba(223,204,179,1)) 1;
	border-image: -moz-radial-gradient(circle, rgba(173,138,90,1) 0%, rgba(223,204,179,1)) 1;
}
.btn-mjk.outline-gradient:before {
	color: #ffffff;
	background: rgb(173,138,90);
	background: radial-gradient(circle, rgba(173,138,90,1) 0%, rgba(223,204,179,1) 100%);
	background: -webkit-radial-gradient(circle, rgba(173,138,90,1) 0%, rgba(223,204,179,1) 100%);
	background: -moz-radial-gradient(circle, rgba(173,138,90,1) 0%, rgba(223,204,179,1) 100%);
}
.btn-mjk.outline-gradient i {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.btn-mjk.outline-gradient:hover i {
	color: #ffffff;
	/*transform: translate(8px,0);
	-webkit-transform: translate(8px,0);
	-moz-transform: translate(8px,0);*/
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

/*button custom*/
.btn-mjk.outline-black {
	color: #000000 !important;
	border: 1px solid #000000;
}
.btn-mjk.outline-black:before {
	background-color: #000000;
}
.btn-mjk.outline-black:hover {
	color: #ffffff !important;
}
.btn-mjk.bg-brown {
	color: #ffffff !important;
	background-color: #d9bb84;
	border: 1px solid #d9bb84;
}
.btn-mjk.bg-brown:before {
	background-color:#f5f5f5;
}
.btn-mjk.bg-brown:hover {
	color: #d9bb84 !important;
}
.btn-mjk.bg-black {
	color: #ffffff !important;
	background-color: #000000;
	border: 1px solid #000000;
}
.btn-mjk.bg-black:before {
	background-color:#f5f5f5;
}
.btn-mjk.bg-black:hover {
	color: #000000 !important;
}

.btn-mjk.transparent {
	color: #000000 !important;
	background-color: transparent;
	border-color: transparent;
}
.btn-mjk.transparent i {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.btn-mjk.transparent:before {
	color:  #d9bb84 !important;
	background-color: transparent;
}
.btn-mjk.transparent:hover {
	color:  #d9bb84 !important;
	background-color: transparent;
}
.btn-mjk.transparent:hover i {
	color: #d9bb84;
	/*transform: translate(8px,0);
	-webkit-transform: translate(8px,0);
	-moz-transform: translate(8px,0);*/
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
/*btn social*/
.btn-mjk.social-fb {
	background-color: #3b5998;
	border-color: #3b5998;
	color: #ffffff !important;
}
.btn-mjk.social-fb:before {
	background-color: #f5f5f5;
}
.btn-mjk.social-fb:hover {
	color: #3b5998 !important;
}
.btn-mjk.social-google {
	background-color: #db4a39;
	border-color: #db4a39;
	color: #ffffff !important;
}
.btn-mjk.social-google:before {
	background-color: #f5f5f5;
}
.btn-mjk.social-google:hover {
	color: #db4a39 !important;
}

/* =Form
------------------------------------------------------------ */
.form-group-mjk label {
	color: #151515;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: 'Roboto', sans-serif;
}
.form-group > .error, .form-group > .success {
	font-size: 11px;
	font-weight: 500;
	text-transform: none;
}
.form-group > .form-control.error, .form-group > .form-control.success {
	font-size: 14px;
}
.form-group-mjk .form-control {
	background-color: #ffffff;
	border-color: transparent;
	color: #333333;
	font-size: 14px;
	font-weight: 300;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	padding-right: 15px;
	padding-left: 15px;
}
.form-group-mjk .form-control[type="password"] {
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 1px;
}
.form-control:focus {
	box-shadow: none;
}
/*hide spiner*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}
input[type=number] {
	-moz-appearance:textfield;
}

.filter-mjk-group-box {
	padding: 10px 15px 10px;
	border:none;
}
.input-group-mjk .input-group-text {
	border:none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.input-group-mjk .input-group-text i {
	color: #d9bb84;
}
.input-group-mjk .input-group-append {
	height: 41px;
	margin-top: 1px;
}
.input-group-mjk .form-control {
	border-color: transparent;
	font-size: 14px;
	padding: 15px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.file-mjk .custom-file-label {
	font-weight: 300;
	color:#333333;
	border-color: transparent;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.file-mjk .custom-file-label::after {
	background-color: #d9bb84;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.radio-mjk .custom-control-label {
	line-height: 25px;
	font-size: 14px;
	color: #333333;
}
.radio-mjk .custom-control-input:checked ~ .custom-control-label::before {
	border-color:#333333;
	background-color:#333333;
}
.check-mjk .custom-control-label {
	line-height: 25px;
	font-size: 14px;
	color: #333333;
}
.check-mjk .custom-control-input:checked ~ .custom-control-label::before {
	border-color:#333333;
	background-color:#333333;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.check-mjk .custom-control-label::before {
	border-color: #333333;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.radio-mjk .custom-control-label::before {
	border-color: #333333;
}

/*daterangepicker*/
.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
	color: #333333;
}
.daterangepicker select.monthselect {
	color:#333333;
	font-weight: 500;
}

/*select2*/
.select-mjk-box {
	border-color: transparent;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.select-mjk-group label {
	color: #333333;
}
.select-mjk-box .select2-container--default .select2-selection--single .select2-selection__rendered{
	color: #333333;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 400;
}
.select2-results__option {
	color: #333333;
	font-size: 13px;
}
.select2-container--open .select2-dropdown--above {
	margin-top: -1px;
}

/*select2 caret*/
.select-mjk-box .select2-container--default .select2-selection--single .select2-selection__arrow b{
	border-color: #333333 transparent transparent transparent;
}
.select-mjk-box .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{ 
	border-color:  transparent transparent #333333 transparent !important;
}	

/*select2 dropdown*/
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: #ab894b;
	color: #ffffff;
}	
.select2-container--default .select2-results__option[aria-selected="true"] {
	background-color: #ab894b;
	color: #ffffff;
}
.select2-container--open .select2-dropdown--below {
	border-color: transparent;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	margin-top:1px;
	color: #333333;
}
.select2-results__option[aria-selected] {
	color: #333333;
}

/*form subscribe on footer*/
.input-group-mjk.subscribe{}
.input-group-mjk.subscribe .form-control{
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-bottom: 1px solid #ffffff;
	border-right: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.input-group-mjk.subscribe .form-control::placeholder{
	color: #999999;
	font-size: 12px;
}
.input-group-mjk.subscribe .btn-outline-secondary{
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-bottom: 1px solid #ffffff;
	border-right: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;	
}
.input-group-mjk.subscribe .btn-outline-secondary:hover{
	background-color: transparent;
}
.input-group-mjk.subscribe .btn-outline-secondary i{
	color: #ffffff;
	font-size: 14px;
}
.input-group-mjk.subscribe .btn-outline-secondary:hover i{
	color: #d9bb84;
}

