/*!
* PT. IMAJIKU CIPTA MEDIA
* Copyright 2019-2020 IMAJIKU.
*/


/* =navbar
-------------------------------------------------------------*/
.navbar .dropdown-menu{
	animation-duration: 0.2s;
	-webkit-animation-duration: 0.2s;
}
.navbar .nav-item.active span i {
	color: #ab894b;
}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
	color:#333333;
	font-size: 12px;
}
.select-language.btn-group .btn .filter-option {
	margin-top: -3px;
}


/* =layout
-------------------------------------------------------------*/
.layout-page{ 
	background-color: #f5f5f5;
}
.section-top {
	margin-top: 205px;
}
.section {
	padding: 40px 0 40px;
}
.br-right {
	border-right: 1px solid #ddd;
}
/* =Title
-------------------------------------------------------------*/
.section-title {
	background-color: transparent;
	padding: 2rem 0 2rem;
}
.title-primary h1 {
	font-size: 25px;
	color: #151515;
	font-weight: 500;
	letter-spacing: 1px;
	margin-bottom: 0;
}
.title-primary h2 {
	font-size: 20px;
	color: #151515;
	font-weight: 500;
	letter-spacing: 1px;
	margin-bottom: 0;
	text-transform: uppercase;
}
.title-primary h3 {
	font-size: 16px;
	color: #151515;
	font-weight: 600;
	margin-bottom: 0;
	text-transform: uppercase;
}
.title-primary h4 {
	font-size: 18px;
	letter-spacing: 1px;
}
.title-primary.brown h2 {
	font-size: 20px;
	color: #d9bb84;
	font-weight: 500;
	letter-spacing: 1px;
	margin-bottom: 0;
	text-transform: uppercase;
}
.title-primary p {
	font-size: 14px;
	margin-top: 15px;
	color: #666666;
	font-weight: 300;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}
.title-primary.center {
	margin: 0 auto;
	text-align: center;
}

/* =breadcrumb
------------------------------------------------------------ */
.breadcrumb-box{
	display: block;
	width: 100%;
	position: relative;
	background-color:transparent;
	padding: 25px 0 25px;
	z-index: 2;
}
.breadcrumb{
	background-color: transparent;
	margin: 0;
	padding: 0;
}
.breadcrumb .breadcrumb-item{
	font-size: 13px;
}
.breadcrumb .breadcrumb-item a{
	color: #151515;
	font-weight: 500;
}
.breadcrumb .breadcrumb-item.active{
	color: #d9bb84;
	font-weight: 500;
}
.breadcrumb .breadcrumb-item:hover a{
	color: #ab894b !important;
}
.breadcrumb-item + .breadcrumb-item::before {
	content: "\f054";
	font-weight: 900;
	font-family: 'Font Awesome\ 5 Free';
	color: #151515;
	padding-left: 0.7rem;
	padding-right: 0.7rem;
}

/* =pagination
------------------------------------------------------------ */
.pagination{
	justify-content: center;
	margin: 15px 0 15px;
}
.pagination .page-link{
	font-size: 14px;
	padding: 5px 15px 5px;
	background-color: transparent;
	text-transform: uppercase;
}
.pagination .page-item.active .page-link{
	color: #000000;
	font-weight: bold;
	border: none;
	background-color: transparent;
}
.pagination .page-item .page-link:focus{
	outline: none;
	box-shadow: none;
}
.pagination .page-link{
	font-size: 14px;
	color: #000000;
	border: none;
	letter-spacing: 1px;
}
.pagination .page-link:hover{
	color: #ab894b !important;
	background-color: transparent;
}
.page-item.disabled .page-link {
	color: #000000;
}

/* =Footer
-------------------------------------------------------------*/
.footer{}
.footer-middle{
	background-color: #000000;
	padding-top: 80px;
}
.footer-bottom{
	background-color: #000000;
}

.foo-menu h3,
.foo-address h3,
.foo-subscribe h3{
	color: #d9bb84;
	font-size: 14px;
	font-weight: bold;
}
.foo-menu li a,
.foo-address li a{
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
}
.foo-menu li a:hover,
.foo-address li a:hover {
	color: #ab894b;
}
.foo-address{
	margin-bottom: 15px;
}
.foo-address li i{
	color: #ffffff;
}
.footer .social-network li a{
	color: #ffffff;
}
.footer .social-network li a:hover{
	color: #ab894b;
}
.foo-subscribe p{
	font-size: 14px;
	color: #ffffff;
}
.footer-bottom{
	padding: 40px 0 40px;
}
.footer-bottom .copyright{
	margin: 0;
}
.footer-bottom .copyright p{
	margin: 0;
	color: #999999;
}
.foo-logo{
	float: none;
	height: auto;
	margin-bottom: 50px;
}
.foo-logo img{
	height: 50px;
}


/* =Card Thumbnail Product
------------------------------------------------------------ */
.card-product-box {
	display: block;
	position: relative;
	overflow: hidden;
}
.card-product {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	flex-direction: column;
}

.card-product-img {
	display: block;
	position: relative;
	background-color: transparent;
}
.card-product-label {
	width:100%;
	position: absolute;
	right: 0px;
	top: 0;
	vertical-align: middle;
	padding: 9px 15px;
	height: 30px;
	background: radial-gradient(circle, rgba(173,138,90,1) 0%, rgba(223,204,179,1) 100%);
	z-index: 2;
	text-align: center;
}
.card-product-label h5 {
	font-size: 10px;
	letter-spacing: 1px;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin-bottom: 0;
	font-weight: 600;
}
.card-product-label h5 i { 
	vertical-align: text-top;
}

.card-product-img-item {
	display: block;
	position: relative;
	background-color: transparent;
}
.card-product-img-item img {
	/*transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;*/
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.product-img, .product-img-hover{
	display: block;
	width: 100%;
	height: auto;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
} 
.card-product-img-item .product-img-hover{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	left: 100%;
	top: 0;
}
.card-product-box:hover .product-img {
	opacity: 0;
	visibility: hidden;
	left: -100%;
}
.card-product-box:hover .product-img-hover {
	opacity: 1;
	visibility: visible;
	left: 0;
}

.card-product-desc {
	position: relative;
	display: block;
}
.card-product-desc-item {
	min-height: 100px;
	margin: 15px 0 15px;
}
.card-product-desc h3 {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 0;
	color: #333333;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif; 
}
.card-product-desc p {
	margin: 5px 0;
	font-size: 14px;
	color: #333333;
}
.card-product-desc a:hover h3 {
	color: #ab894b;
}

.card-product-action {
	display: block;
	position: relative;
}
.card-product-action-item {
	border: 1px solid #000000;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}
.card-product-action-item.center {
	display: block;
	align-items: center;
	text-align: center;
	margin: 0 auto;
}
.card-product-action-item h4 {
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 0;
}
.card-product-action-item-center h4 {
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 0;
}
.card-product-action:hover .card-product-action-item h4 {
	color: #ffffff;
}
.card-product-action:hover .card-product-action-item-center h4 {
	color: #ffffff;
}
/* card button Animation Shutter In Horizontal */
.card-product-action-item {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.card-product-action-item:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000000;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.card-product-action:hover .card-product-action-item:hover,
.card-product-action:hover .card-product-action-item:focus,
.card-product-action:hover .card-product-action-item:active {
	color: #ffffff !important;
}
.card-product-action:hover .card-product-action-item:hover:before,
.card-product-action:hover .card-product-action-item:focus:before,
.card-product-action:hover .card-product-action-item:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/* =Slider
------------------------------------------------------------ */
.globalslider-box{
	position: relative;
	display: block;
	width: 100%;
	padding: 0 40px 0;
}
.globalslider{
	position: relative;
	margin-right: -15px;
	margin-left: -15px;
	z-index: 2;
}
.globalslider-button{
	position: absolute;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
.globalslider-prev,
.globalslider-next{
	position: absolute;
	display: block;
	width: 40px;
	height: 100%;
	line-height: 100%;
	text-align: center;
	cursor: pointer;
}
.globalslider-prev i,
.globalslider-next i{
	font-size: 30px;
	line-height: 40px;
	color: #000000;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	opacity: 1;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background-color: transparent;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 35%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
.globalslider-prev:hover i,
.globalslider-next:hover i{
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	opacity: 0.6;
}
.globalslider-prev{
	left: 0px;
}
.globalslider-next{
	right: 0px;
}


/* =Card Article & Event
------------------------------------------------------------ */
.card-article-box {
	display: block;
	position: relative;
	width: 100%;
}
.card-article {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	flex-direction: column;
}
.card-article-img {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.card-article-desc {
	position: relative;
	display: block;
	width: 100%;
}
.card-article-img img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
.card-article:hover .card-article-img img {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transform: scale3d(1.03, 1.03, 1.03);
	-webkit-transform: scale3d(1.03, 1.03, 1.03);
	-moz-transform: scale3d(1.03, 1.03, 1.03);
	filter: brightness(80%);
	-webkit-filter: brightness(80%);
	-moz-filter: brightness(80%);
}
.card-main-body {
	position: relative;
	display: block;
	margin: 15px 0 15px;
}
.card-article-desc-item h3 {
	color: #151515;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.card-article-content {
	position: relative;
	display: block;
	min-height: 80px;
	margin: 15px 0 15px;
}
.card-article-content a:hover h3 {
	color:#ab894b;
}
.card-article-desc-item p {
	color: #151515;
	font-size: 12px;
	line-height: 26px;
	margin-bottom: 0;
}

.card-article.card-horizontal {
	flex-direction: row;
}
.card-article.card-horizontal .card-article-img {
	width: 85%;
	height: 130px;
	margin-right: 25px;
}
.card-article.card-horizontal .card-article-content {
	min-height: 80px;
	margin: 0;
}
.card-article.card-horizontal .card-article-desc-item {
	margin: 0;
}

.card-article.card-event {
	display: block;
	position: relative;
	background-color: #ffffff;
}
.card-article.card-event .card-article-desc {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	flex-direction: row;
	padding: 25px;
}
.card-article.card-event .card-article-time {
	margin-right: 25px;
}
.card-article.card-event .card-article-content {
	margin: 0px 0 15px;
}
.card-article.card-event .card-article-time p {
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 0;
}
.card-article.card-event .card-article-time h4 {
	font-size: 32px;
	font-weight: 600;
	text-align: center;
	color: #000000;
}
.card-article.card-event .card-article-content h3 {
	color: #d9bb84;
	text-transform: none;
}
.card-article.card-event .card-article-content a:hover h3 {
	color:#ab894b;
}

/* =Card People
------------------------------------------------------------ */
.card-people-box {
	display: block;
	position: relative;
	width: 100%;
}
.card-people {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	flex-direction: column;
}
.card-people-img {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.card-people-img img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
.card-people-desc {
	position: relative;
	display: block;
	width: 100%;
	margin: 15px 0 15px;
}
.card-people-desc h3 {
	color: #151515;
	font-size: 18px;
	text-transform: none;
	letter-spacing: 1px;
	margin-bottom: 0;
}
.card-people p {
	color: #151515;
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 0;
}
.card-people-box .card-people:hover .card-people-desc h3 {
	color: #ab894b;
}
.card-people-box .card-people:hover .card-people-img img {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transform: scale3d(1.03, 1.03, 1.03);
	-webkit-transform: scale3d(1.03, 1.03, 1.03);
	-moz-transform: scale3d(1.03, 1.03, 1.03);
	filter: brightness(80%);
	-webkit-filter: brightness(80%);
	-moz-filter: brightness(80%);
}

/* =Content
------------------------------------------------------------ */
.content-mjk {
	position: relative;
	display: block;
}
.content-mjk p {
	font-size: 14px;
	line-height: 26px;
}
.content-mjk h3 {
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 500;
	color: #151515;
}
.list-inline li {
	display: inline-block;
	padding-right: 15px;
}
.list-inline li i {
	color: #d9bb84; 
}

/* =Preview Video
------------------------------------------------------------ */
.preview-video {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.btn-youtube {
	position: absolute;
	display: block;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 40%;
	text-align: center;
	z-index: 2;
}
.btn-youtube i {
	display: block;
	font-size: 50px;
	opacity: 0.8;
	color: #ff0000;
}
.preview-video img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
.preview-video:hover img {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transform: scale3d(1.03, 1.03, 1.03);
	-webkit-transform: scale3d(1.03, 1.03, 1.03);
	-moz-transform: scale3d(1.03, 1.03, 1.03);
	filter: brightness(80%);
	-webkit-filter: brightness(80%);
	-moz-filter: brightness(80%);
}
.map {
	position: relative;
	display: block;
}
.map iframe {
	width: 100%;
}