/*!
* PT. IMAJIKU CIPTA MEDIA
* Copyright 2019-2020 IMAJIKU.
*/


/* =layout
-------------------------------------------------------------*/
.wrapper{}
.section{
	padding: 50px 0 50px;
}
.section:last-child{
	padding-bottom: 8%;
}
.section-top{
	margin-top: 90px;
}
.section-blank{
	padding: 150px 0 100px;
}
.layout-page{
	min-height: 70vh;
}


/* =General
-------------------------------------------------------------*/

.hide-for-desktop{
	display: none;
}
.hide-for-mobile{
	display: block;
}

/*effect for image*/
.overlay-dark:before {
	content:"";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	background:-webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%);
	background:-moz-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%);
	background:radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%);
}

/*for resposive condition navbar*/
.disablescrollbar{
	overflow: hidden;
}


/* Vertical Position style */
.v-top {vertical-align: top;}
.v-middle {	vertical-align: middle;}
.v-bottom {	vertical-align: bottom;}

/* =Modal Dialog
------------------------------------------------------------ */
.modal-open {
	padding-right: 0 !important;
}
.modal-open .navbar {
	padding-right: 1rem !important;
}
.modal-header{
	border-bottom: none;
	padding: 20px 20px 20px;
}
.modal-header .modal-title{
	text-align: left;
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid transparent;
	padding-bottom: 0;
	color: #000000;
	font-weight: bold;
}
.modal-header .modal-title img{
	display: block;
	height: 100px;
	width: auto;
	margin: 0 auto;
}
.modal-header .close{
	position: absolute;
	top: 15px;
	line-height: 16px;
	right: 20px;
	text-shadow: none;
	z-index: 10;
}
.modal-header .close i{
	font-size: 16px;
	color: #f98341;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
.modal-header .close:hover i{
	transform: scale(1.2) rotate(180deg);
	-webkit-transform: scale(1.2) rotate(180deg);
	-moz-transform: scale(1.2) rotate(180deg);
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	color: #FF6464;
}
.modal-body{
	padding: 20px 60px 20px;	
}
.modal-body .form-group-mjk label{
	font-size: 14px;
}
.modal-footer {
	padding: 20px 60px 20px;
	border-top: 1px solid transparent;
}

/*welcome*/
.welcomedialog-content .modal-header .close{
	position: absolute;
	top: 15px;
	line-height: 16px;
	right: 15px;
	text-shadow: none;
	z-index: 10;
}

/* =Sidebarmenu
-------------------------------------------------------------*/
.sidebar-menu-box{
	position: relative;
	padding: 0 25px 0 0;
}
.sidebar-menu-box .sidebar-menu-title{
	margin-bottom: 20px;
}
.sidebar-menu-box .sidebar-menu-title h3{
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	margin-bottom: 0;
}
.sidebar-menu-box .sidebar-menu-title .navbar-toggler{
	display: none;
}
.sidebar-menu-box > ul.collapse,
.sidebar-menu-box > ul.collapse.show{
	display: block;
}
.sidebar-menu-box ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.sidebar-menu-box li{}

.sidebar-menu-label{
	color: #999999;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.sidebar-menu-label.active,
.sidebar-menu-label:hover,
.sidebar-menu-link[aria-expanded="true"]{
	color: #f98341 !important;
	background-color: #FEF3DF;
}
.sidebar-menu-link{
	width: 100%;
	cursor: pointer;
	padding: 15px 15px 15px 15px;
	position: relative;
	display: block;
	font-size: 16px;
	color: #999999 !important;
}
.sidebar-menu-link:hover{
	cursor: pointer;
}

.sidebar-submenu{}
.sidebar-submenu .sidebar-menu-link{
	padding-left: 30px;
	color: #999999;
	background-color: #FEEDD1;
}
.sidebar-submenu .sidebar-menu-link.active,
.sidebar-submenu .sidebar-menu-link:hover{
	color: #f98341 !important;
}

/* sidebar menu caret */
.sidebar-menu-link .caret-show,
.sidebar-menu-link .caret-hide{
	float: right;
	text-align: center;
	width: 15px;
}
.sidebar-menu-link[aria-expanded="false"] .caret-show{
	display: inline-block;
}
.sidebar-menu-link[aria-expanded="true"] .caret-show{
	display: none;
}
.sidebar-menu-link[aria-expanded="false"] .caret-hide{
	display: none;
}
.sidebar-menu-link[aria-expanded="true"] .caret-hide{
	display: inline-block;
}
.sidebar-menu-link[aria-expanded="true"] .caret-hide i{
	color: #f98341;
}

/* =Navbar Header
-------------------------------------------------------------*/
/*dipindah ke file navbar.css*/


/* =Footer
-------------------------------------------------------------*/
.footer{
	position: relative;
	display: block;
	background-color: #ffffff;
}
.footer-top{
	display: block;
	background-color: #ebebeb;
	padding: 2rem 0 2rem;
}
.footer-middle{
	display: block;
	padding: 2rem 0 0;
	background-color: #dddddd;
}
.footer-bottom{
	display: block;
	padding: 2rem 0 0;
	background-color: #cecece;
}
.footer-bottom p{
	margin: 0;
}
.footer-bottom h4{
	font-size: 18px;
}
.foo-menu{
	position: relative;
	margin-bottom: 15px;
}
.foo-menu h3{
	font-size: 17px;
	font-weight: bold;
}
.foo-menu ul{
	display: block;
	list-style: none;
	padding: 0;
	margin: 0 15px 0 0;
}
.foo-menu li{
	display: block;
	padding: 3px 0 3px;
}
.foo-menu li a{
	color: #333333;
}
.foo-menu li a:hover{
	color: red;
}
.foo-address{
	position: relative;
}
.foo-address h3{
	font-size: 17px;
	font-weight: bold;
}
.foo-address ul{
	display: block;
	list-style: none;
	padding: 0;
	margin: 0 15px 0 0;
}
.foo-address li{
	display: block;
	padding: 3px 0 3px;
	padding-left: 37px;
	position: relative;
}
.foo-address li a {
	color: #333333;
}
.foo-address li a:hover {
	color: red;
}
.foo-address li i{
	position: absolute;
	top: 5px;
	left: 0;
	font-size: 18px;
	margin-left: 4px;
	margin-right: 4px;
	color: red;
}
.foo-menu-static{}
.foo-menu-static ul{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.foo-menu-static li{
	font-size: 13px;
	padding: 0 5px 0;
	border-right: 1px solid #ebebeb;
	list-style: none;
}
.foo-menu-static li a{
	color: #333333;
}
.foo-menu-static li a:hover{
	color: red;
}
.foo-menu-static li:last-child{
	border-right: none;
}
.copyright{
	display: block;
	margin: 10px 0 0 0;
}
.copyright p{
	margin: 0 10px 0 0;
	font-size: 12px;
}
.foo-logo{
	display: block;
	width: auto;
	height: 50px;
	float: right;
}

/* =social media
-------------------------------------------------------------*/
.social-network{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin: 0 0 20px;
}
.social-network h3{
	display: inline-block;
	font-size: 17px;
	font-weight: bold;
}
.social-network ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.social-network li{
	display: inline-block;
	padding: 0 10px 0;
}
.social-network li:last-child{
	padding-right: 0;
}
.social-network li i{
	font-size: 20px;
}

/* =breadcrumb
------------------------------------------------------------ */
.breadcrumb-box{
	display: block;
	width: 100%;
	position: relative;
	background-color: #212121;
	padding: 10px 0 10px;
	z-index: 2;
}
.breadcrumb{
	background-color: transparent;
	margin: 0;
	padding: 0;
}
.breadcrumb .breadcrumb-item{
	font-size: 15px;
}
.breadcrumb .breadcrumb-item a{
	color: #ffffff;
}
.breadcrumb .breadcrumb-item.active{
	color: #f98341;
}
.breadcrumb .breadcrumb-item:hover a{
	color: #f86b54 !important;
}
.breadcrumb-item + .breadcrumb-item::before {
	content: "•";
	color: #f98341;
	padding-left: 0.7rem;
	padding-right: 0.7rem;
}

/* =Banner Pages
-------------------------------------------------------------*/
.banner-top{
	display: block;
	position: relative;
	width: 100%;
	height: 340px;
	overflow: hidden;
	background-color: #ffffff;
}
.banner-top img{
	display: block;
	width: 100%;
	height: 340px;
	object-fit: cover;
	object-position: center;
	z-index: 1;
}
.banner-caption{
	position: absolute;
	display: block;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 25%;
	text-align: center;
	z-index: 2;
}
.banner-caption h3{
	color: #ffffff;
	margin: 0 auto;
	font-weight: bold;
}
.banner-top.banner-empty img{
	background: url('../images/dummy/img-5.jpg') no-repeat;
}
.banner-top.banner-empty .banner-caption h3{
	color: #000000;
}

/* =Slider
-------------------------------------------------------------*/

/*Slider Hero*/
.hero-slider-box,
.hero-slider,
.hero-slider div{
	position: relative;
}
.hero-slider div img{
	display: block;
	width: 100%;
	max-height: 520px;
	z-index: 1;
	object-fit: cover;
	object-position: top center;
}
.hero-slider div .hero-slider-caption{
	position: absolute;
	display: block;
	width: 50%;
	left: 0;
	top: 120px;
	z-index: 2;
}
.hero-slider div .hero-slider-caption h1,
.hero-slider div .hero-slider-caption h2{
	font-size: 60px;
	line-height: 60px;
	color: #ffffff;
	font-weight: 900;
}
.hero-slider div .hero-slider-caption p{
	font-size: 18px;
	color: #ffffff;
}
.hero-slider div .hero-slider-caption .btn{
	margin-top: 20px;
}
.hero-slider-button{
	position: absolute;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 100;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
.hero-slider-prev,
.hero-slider-next{
	position: absolute;
	display: block;
	width: 100px;
	height: 100%;
	line-height: 100%;
	text-align: center;
	cursor: pointer;
	top: 0;
}
.hero-slider-prev i,
.hero-slider-next i{
	font-size: 24px;
	line-height: 100%;
	color: #ffffff;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	opacity: 1;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	position: absolute;
}
.hero-slider-prev:hover i,
.hero-slider-next:hover i{
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	opacity: 0.6;
}
.hero-slider-prev{
	left: 0px;
}
.hero-slider-next{
	right: 0px;
}
.hero-slider .slick-dots{
	bottom: 35px;
}
.hero-slider .slick-dots li{
	margin: 0 5px 0;
	height: auto;
	width: auto;
	padding: 0;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.hero-slider .slick-dots li button{
	text-align: center;
	height: 20px;
	width: auto;
	line-height: 20px;
}
.hero-slider .slick-dots li button::before{
	content: "";
	top: 5px;
	width: 10px;
	height: 10px;
	background-color: #ffffff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.slick-dots li.slick-active button::before{
	width: 40px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.slick-dots li.slick-active{
	width: 40px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

/*slider 2*/
.globalslider .img-product {
	padding: 15px;
}

/* =Title
-------------------------------------------------------------*/
.section-title {
	display: block;
	position: relative;
	width: 100%;
	background-color: #ffffff;
	padding: 3rem 0 3rem;
}
.title-page-box{
	display: block;
	position: relative;
	width: 100%;
}
.title-primary {
	display: table;
	padding: 0;
	position: relative;
}
.title-primary h1 {
	font-size: 45px;
	color: #000000;
	font-weight: bold;
}
.title-primary h2 {
	font-size: 35px;
	color: #000000;
	font-weight: bold;
}
.lines {
	position: relative;
	display: block;
	margin: 15px auto 15px 0;
	width: 50px;
	border-bottom: 2px solid #333333;
	z-index: 1;
}
.title-primary > p{
	font-size: 16px;
	color: #999999;
}
.title-primary ul{
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
.title-primary li{}
.title-primary li p{
	margin: 0;
}
.title-page-action{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}


/* =pagination
------------------------------------------------------------ */
.pagination{
	justify-content: center;
	margin: 15px 0 15px;
}
.pagination .page-link{
	font-size: 14px;
	padding: 5px 20px 5px;
}
.pagination .page-item.active .page-link{
	color: #f98341;
	font-weight: bold;
	border: none;
	background-color: transparent;
}
.pagination .page-item .page-link:focus{
	outline: none;
	box-shadow: none;
}
.pagination .page-link{
	font-size: 14px;
	color: #999999;
	border: none;
}
.pagination .page-link:hover{
	color: red !important;
	background-color: transparent;
}
.page-item.disabled .page-link {
	color: #dddddd;
}

/* =Card
-------------------------------------------------------------*/



/* =Collapse
-------------------------------------------------------------*/
.collapse-mjk-item{
	display: block;
	position: relative;
}
.collapse-mjk-head{
	display: block;
	position: relative;
}
.collapse-mjk-link{
	display: block;
	width: 100%;
	border-bottom: 1px solid #dddddd;
	padding: 15px 0 15px;
}
.collapse-mjk-link[aria-expanded="true"]{
	border-bottom: none;
}	
.collapse-mjk-link h4 {
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	width: 90%;
}
.collapse-mjk-link span{
	float: right;
	text-align: center;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.collapse-mjk-link span i{
	color: #fed35f;
	font-size: 16px;
}

.collapse-mjk-head .collapse-mjk-link[aria-expanded="false"] .caret-show{
	display: inline-block;
}
.collapse-mjk-head .collapse-mjk-link[aria-expanded="true"] .caret-show{
	display: none;
}
.collapse-mjk-head .collapse-mjk-link[aria-expanded="false"] .caret-hide{
	display: none;
}
.collapse-mjk-head .collapse-mjk-link[aria-expanded="true"] .caret-hide{
	display: inline-block;
}
.collapse-mjk-body{
	border-bottom: 1px solid #dddddd;
}




/* =Empty Page / Blank Page
-------------------------------------------------------------*/
.empty-page{
	display: block;
	width: 90%;
	margin: 10% auto 30%;
	text-align: center;
	height: auto;
}
.empty-page i{
	font-size: 80px;
	line-height: 100px;
	color: #666666;
	opacity: 0.6;
}
.empty-page h3{
	font-style: italic;
	font-size: 16px;
	color: #444444;
	margin: 20px 0 10px 0;
}

/* =Empty Content
-------------------------------------------------------------*/
.empty-content{
	display: block;
	width: 400px;
	margin: 10% auto 30%;
	text-align: center;
	height: auto;
}
.empty-content-img{
	display: block;
	margin: 0 auto 30px;
	height: 200px;
	width: 200px;
}
.empty-content-img img{
	display: block;
	width: 100%;
	height: 100%;
}
.empty-content-desc{}
.empty-content-desc h1{
	font-size: 16px;
	color: #000000;
	font-weight: 600;
}
.empty-content-desc p{
	font-size: 14px;
}

/* = OTHER 
-------------------------------------------------------------*/

/*Button Back to TOP*/
#BackToTop.active{
	display: block;
	opacity: 0.6;
}
#BackToTop{
	position: fixed;
	display: none;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	margin: 10px;
	padding: 0;
	background-color: #383838;
	text-align: center;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	cursor: pointer;
	border: 1px solid #555555;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
#BackToTop i{
	color: #f2f2f2;
	font-size: 18px;
	line-height: 34px;
}
#BackToTop:hover i{
	opacity: 0.5;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

/* = Ratio
------------------------------------------------------------ */
[data-aspect-ratio] {
	display: block;
	max-width: 100%;
	position: relative;
	background-color: #000000;
	overflow: hidden;
}
[data-aspect-ratio]:before {
	content: '';
	display: block;
}
[data-aspect-ratio] > * {
	display: block;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	object-fit: cover;
}
/*for landscape*/
[data-aspect-ratio="13:3"]:before {
	padding-top: 25.33%;
}
[data-aspect-ratio="3:1"]:before {
	padding-top: 33.33%;
}
[data-aspect-ratio="15:7"]:before {
	padding-top: 48%;
}
[data-aspect-ratio="2:1"]:before {
	padding-top: 50%;
}
[data-aspect-ratio="16:9"]:before {
	padding-top: 56.25%;
}
[data-aspect-ratio="3:2"]:before {
	padding-top: 66.66%;
}
[data-aspect-ratio="4:3"]:before {
	padding-top: 75%;
}
/*for square fit*/
[data-aspect-ratio="1:1"]:before {
	padding-top: 100%;
}
/*for potrait*/
[data-aspect-ratio="3:4"]:before {
	padding-top: 133.33%;
}
[data-aspect-ratio="2:3"]:before {
	padding-top: 150%;
}
[data-aspect-ratio="9:16"]:before {
	padding-top: 177.77%;
}
[data-aspect-ratio="1:2"]:before {
	padding-top: 200%;
}
[data-aspect-ratio="1:3"]:before {
	padding-top: 300%;
}

/* =Image Ratio
-------------------------------------------------------------*/
.ratio {
	position: relative;
	overflow: hidden;
	width: 100%;
	/* margin: auto;*/
	background-color: transparent;
}
.ratio-center {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: auto;
	background-color: transparent;
}
.ratio1-1 {
	padding-top: 100%;
}
.ratio2-1 {
	padding-top: 50%;
}
.ratio4-3 {
	padding-top: 75%;
}
.ratio16-9 {
	padding-top: 56.25%;
}
.ratio img {
	position: absolute;
	top: 0;
	/* bottom: 0;*/
	left: 0;
	right: 0;
	max-height: 100%;
	max-width: 100%;
	display: block;
	width: 100%;
	/* margin: auto;*/
}
.ratio-center img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

/* =Cart
-------------------------------------------------------------*/
.cart-hideformobile{
	display: block;
}
.cart{
	display: block;
	width: 100%;
}

/*head*/
.cart-thead{
	display: block;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}
.cart-thead li{
	display: table;
	width: 100%;
	vertical-align: top;
	padding: 12px 15px 12px;
	background-color: #ffffff;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.cart-thead li .td-col{
	display: table-cell;
	color: #0c1d6b;
	font-weight: 600;
}
.cart-thead li .td-col:nth-child(1){
	width: auto;
	/*min-width: 415px;*/
	text-align: left;
	vertical-align: middle;
}
.cart-thead li .td-col:nth-child(2){
	width: 140px;
	text-align: center;
	vertical-align: middle;
}
.cart-thead li .td-col:nth-child(3){
	width: 140px;
	text-align: center;
	vertical-align: middle;
}
.cart-thead li .td-col:nth-child(4){
	width: 140px;
	text-align: right;
	vertical-align: middle;
}
.cart-thead li .td-col:nth-child(5){
	width: 60px;
	text-align: right;
	padding-right: 15px;
	vertical-align: middle;
}

/*body*/
.cart-tbody li{
	background-color: transparent;
	border-bottom: 1px solid #dddddd;
	padding: 15px 15px 15px;
}
.cart-tbody li:nth-child(even){
	/*background-color: #f9f9f9;*/
}
.cart-tbody li:nth-child(odd){
	/*background-color: #ffffff;*/
}
.cart-tbody{
	display: block;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}
.cart-item{
	display: table;
	vertical-align: middle;
	width: 100%;
	position: relative;
}
.cart-item .td-col{
	display: table-cell;
}
.cart-item .td-col:nth-child(1){
	width: 120px;
	vertical-align: top;
}
.cart-item .td-col:nth-child(2){
	vertical-align: top;
	width: auto;
}
.cart-item .td-col.cart-item-action{
	vertical-align: middle;
	width: 60px;
	text-align: right;
}
.cart-item .td-col.cart-item-action i{
	color: #999999;
	font-size: 14px;
}

.cart-item h3{
	color: #0c1d6b;
	font-size: 16px;
	font-weight: 700;
}
.cart-item h4{
	font-size: 12px;
	color: #b1b1b1;
	margin: 0;
	line-height: 20px;
}
.cart-item p{
	font-size: 14px;
	margin: 0;
}

.cart-item .cart-item-img{
	display: block;
	width: 115px;
	height: 90px;
}
.cart-item .cart-item-img img{
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.cart-item .cart-item-desc-box{
	display: table;
	vertical-align: middle;
	width: 100%;
	height: 90px;
}
.cart-item .cart-item-desc{
	display: table-cell;
	vertical-align: top;
	padding-left: 15px;
	/*min-width: 300px;*/
}
.cart-item .cart-item-desc-amount{
	display: table-cell;
	vertical-align: middle;
	width: 420px;
}
.cart-item .cart-item-desc-amount > .td-col:nth-child(1){
	width: 140px;
	text-align: center;
	vertical-align: middle;
}
.cart-item .cart-item-desc-amount > .td-col:nth-child(2){
	width: 140px;
	text-align: center;
	vertical-align: middle;
}
.cart-item .cart-item-desc-amount > .td-col:nth-child(3){
	width: 140px;
	text-align: right;
	vertical-align: middle;
}

/*cart note*/
.cart-ordernote{
	display: block;
	width: 100%;
	padding: 20px 15px 20px;
	margin-top: 5px;
}
.cart-ordernote .form-group label{
	color: #0c1d6b;
	font-weight: 600;
}

/*cart total*/
.cart-amount{
	position: relative;
}
.cart-amount ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.cart-amount li{
	display: flex;
	justify-content: space-between;
	padding: 15px 15px 15px;
	align-items: center;
}
.cart-amount li p{
	font-weight: 600;
	margin: 0;
}
.cart-amount li h4{
	margin: 0;
	font-size: 20px;
	font-weight: 600;
}
.cart-amount-subtotal p{
	color: #0c1d6b;
}
.cart-amount-action{
	display: flex;
	justify-content: flex-end;
	padding: 30px 0 30px 15px;
	margin-bottom: 30px;
}
.cart-amount-action > .btn{
	margin-right: 15px;
}

/*cart shipping*/
.cart-shipping{}
.cart-shipping ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.cart-shipping li{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 10px 10px;
}
.cart-shipping p{
	margin: 0;
}
.cart-shipping .form-group{
	margin-bottom: 0;
}
.cart-shipping .cart-shipping-shipper{
	width: auto;
}
.cart-shipping .cart-shipping-weight{
	width: 150px;
	text-align: center;
}
.cart-shipping .cart-shipping-total{
	width: 150px;
	text-align: right;
}
.cart-shipping .cart-shipping-total p{
	color: #0c1d6b;
}

/*button checkount fixed*/
.button-proceed-checkout-box{
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	width: 100%;
	text-align: center;
	z-index: 999;
}

/*spinner number*/
.spinner-number-item{
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 80px;
}
.spinner-number-item button[type="button"]{
	width: 25px;
	padding: 0;
	text-align: center;
	background-color: #ffffff;
	border: 1px solid transparent;
}
.spinner-number-item button[type="button"] i{
	line-height: 25px;
	font-size: 11px;
	color: #666666;
}
.spinner-number-item input[type="text"]{
	width: 35px;
	text-align: center;
	font-size: 13px;
	font-weight: 700;
	line-height: 25px;
	border: 1px solid transparent;
	color: #252525;
	padding: 0;
	background-color: #ffffff;
}

.cart-item-empty-box{
	display: none;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	padding: 15px 15px 15px;
}
.cart-item-empty-box.show{
	display: block;
}
.cart-item-empty{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding: 40px 0 40px;
}
.cart-item-empty i{
	font-size: 36px;
	color: #999999;
	margin-bottom: 10px;
}
.cart-item-empty p{
	font-size: 14px;
	font-weight: 700;
	color: #999999;
	margin: 0;
}