/*!
* PT. IMAJIKU CIPTA MEDIA
* Copyright 2019-2020 IMAJIKU.
*/
/* =BANNER
-------------------------------------------------------------*/
.banner-top {
	max-height: 260px;
}
.banner-top img{
	max-height: 260px;
}
/* =CARD
-------------------------------------------------------------*/
/* card all condition */
.text-muted {
	color: #999;
	font-size: 12px;
	margin-bottom: 5px;
}
.text-muted a {
	color: #999;
}
.text-muted a:hover {
	color: #f86b54;
}
.inner_block {
	overflow: hidden;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	height: 100%;
}
.card-mjk-fall {
	background-color: #fff;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.card-mjk-fall-img {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.card-mjk-fall-img img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	object-position: center;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;	
}
.card-mjk-fall:hover .card-mjk-fall-desc {
	background-color: transparent;
}
.card-mjk-fall:hover .card-mjk-fall-desc h3 { 
	color: #f86b54;
}
.card-mjk-fall-desc {
	background-color: transparent;
}
/* card featured product index */
.card-ftproduct .card-mjk-fall {
	position: relative;
}
.card-ftproduct .card-mjk-fall-desc {
	display: block;
	position: absolute;
	bottom: 0;
	padding: 15px 20px 15px;
	z-index: 2;
	width: 100%;
	background-color: transparent;
}
.card-ftproduct .card-mjk-fall-desc:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.5) 80%);
	z-index: -1;
	border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
}
.card-ftproduct .card-mjk-fall-desc h3 { 
	color: #fff;
	font-weight: 500;
	letter-spacing: 1px;
	margin-bottom: 5px;
}
.card-ftproduct .card-mjk-fall-desc p { 
	color: #fff;
	margin-bottom: 0;
}
/* card news index */
.cardfor-article .card-mjk-fall:hover .card-mjk-fall-img img {
	filter: none;
	-webkit-filter: none;
}
.cardfor-article .card-mjk-fall-desc h3 {
	font-size: 18px;
	text-transform: uppercase;
	line-height: 24px;
	margin-bottom: 0;
}
.card-mjk-fall-box.cardfor-article .card-mjk-fall-desc {
	border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	padding: 15px 20px 15px;
}

/* card client | card management */
.card-client-management .card-mjk-fall.no-link:hover {
	cursor: auto;
}
.card-client-management .card-mjk-fall-desc .text-basic {
	font-style: italic;
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 16px;
}
.card-client-management .card-mjk-fall-desc .text-clr {
	color: #c32c0e;
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 16px;
	line-height: 23px;
}
.card-client-management .card-mjk-fall-desc p {
	margin-bottom: 0;
	color: #666666;
}
.card-client-management .card-mjk-fall:hover .card-mjk-fall-img img {
	filter: none;
	-webkit-filter: none;
}
.card-client-management .card-mjk-fall:hover .card-mjk-fall-desc .text-clr {
	color: #f86b54;
}
/* card news */
.card-news .card-mjk-fall-desc {
	display: table;
	width: 100%;
}
.card-news.bg-transparent .card-mjk-fall-desc {
	padding: 0px;
}
.card-news .card-mjk-fall-desc .card-box-left {
	display: table-cell;
	padding-right: 20px;
	width: 60px;
}
.card-news .card-mjk-fall-desc .card-main-body {
	display: table-cell;
	width: auto;
}
.card-news .card-mjk-fall-desc .card-main-body p {
	font-size: 13px;
	letter-spacing: 0.5px;
	color: #666666;
}
.card-news .card-mjk-fall-desc .card-main-body .card-mjk-link {
	font-size: 14px;
	color: #0c1d6b;
	font-weight: 700;
	font-style: italic;
}
.card-news .card-mjk-fall-desc .card-main-body .card-mjk-link i {
	padding-left: 10px;
	font-size: 12px;
	vertical-align: middle;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
.card-news .card-mjk-fall-desc .card-main-body .card-content {
	margin-top: 10px;
	margin-bottom: 10px;
}
.card-news .card-mjk-fall-desc .card-main-body .card-content img {
	width: 100px;
}
.card-news .card-mjk-fall-desc .text-clr {
	color: #c32c0e;
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 16px;
	line-height: 23px;
}
.card-news .card-mjk-fall-desc .time-month p {
	color: #0c1d6b;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
}
.card-news .card-mjk-fall-desc .time-month h4 {
	color: #0c1d6b;
	text-align: center;
	font-weight: 600;
}
.card-news .card-mjk-fall-desc .card-main-body a:hover i {
	transform: translate(8px,0);
	-webkit-transform: translate(8px,0);
	-moz-transform: translate(8px,0);
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
.card-news.bg-transparent .card-mjk-fall {
	background-color: transparent;
}
.card-news.bg-transparent .card-mjk-fall .card-mjk-desc-rad {
	padding: 20px 0px 20px;
}
.card-news.bg-transparent .card-main-body .date-news {
	color: #999;
	font-size: 12px;
	margin-bottom: 5px;
}
.card-news .card-mjk-fall:hover .card-mjk-fall-img img {
	filter: none;
	-webkit-filter: none;
}
.card-news .card-mjk-fall:hover .card-mjk-fall-desc .text-clr {
	color: #f86b54;
}
/* card testimoni */
.card-mjk-fall-box {
	display: block;
	position: relative;
	width: 100%;
}
.card-testi .card-mjk-fall.no-link:hover {
	cursor: auto;
}
.card-testi .card-mjk-fall-desc {
	padding: 30px 20px 30px;
}
.card-testi .card-mjk-blue-btm {
	background-color: #0c1d6b;
	padding: 20px 20px 20px;
	border-radius: 4px;
}
.card-testi .card-mjk-fall-desc .card-main-body p {
	font-size: 13px;
	letter-spacing: 0.5px;
	color: #666666;
}
.card-testi .card-mjk-blue-btm .testi-author h5 {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.5px;
}
.card-testi .card-mjk-blue-btm .testi-author h6 {
	color: #fff;
	font-size: 14px;
	font-style: italic;
	margin-bottom: 0;
}
/* card testimoni img*/
.card-testi-img .card-mjk-fall.no-link:hover {
	cursor: auto;
}
.card-testi-img .card-mjk-fall-desc {
	padding: 30px 20px 30px;
}
.card-testi-img .card-mjk-blue-btm {
	background: rgb(142,162,172);
	background: -moz-linear-gradient(90deg, rgba(142,162,172,1) 0%, rgba(124,148,160,1) 50%, rgba(98,127,140,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(142,162,172,1) 0%, rgba(124,148,160,1) 50%, rgba(98,127,140,1) 100%);
	background: linear-gradient(90deg, rgba(142,162,172,1) 0%, rgba(124,148,160,1) 50%, rgba(98,127,140,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ea2ac",endColorstr="#627f8c",GradientType=1);
	padding: 20px 20px 20px;
	border-radius: 4px;
	width: 100%;
}
.card-testi-img .card-mjk-fall-desc .card-main-body p {
	font-size: 16px;
	letter-spacing: 0.5px;
	color: #666666;
}
.card-testi-img .card-mjk-blue-btm .testi-author h5 {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.5px;
}
.card-testi-img .card-mjk-blue-btm .testi-author h6 {
	color: #fff;
	font-size: 14px;
	font-style: italic;
	margin-bottom: 0;
}
.card-testi-img .card-mjk-blue-btm {
	display: table;
}
.card-testi-img .card-mjk-blue-btm .testi-img {
	display: table-cell;
}
.card-testi-img .card-mjk-blue-btm .testi-img img {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 4px;
}
.card-testi-img .card-mjk-blue-btm .testi-author {
	display: table-cell;
	vertical-align: middle;
}
/* card promo */
.card-promo .card-mjk-fall-img img {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.card-promo .card-mjk-fall-desc {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	padding: 0;
}
.card-promo .card-mjk-fall-desc h5 {
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
}
.card-promo .card-mjk-fall-desc .card-mjk-link {
	color: #fff;
	font-style: italic;
}
.card-promo .card-mjk-fall:hover .card-mjk-fall-img img {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transform: scale3d(1.1, 1.1, 1.1);
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	-moz-transform: scale3d(1.1, 1.1, 1.1);
	background: rgba(255, 255, 255, 0.5);
	filter: blur(4px) brightness(75%);
	-webkit-filter: blur(4px) brightness(75%);
	-moz-filter: blur(4px) brightness(75%);
}
.card-promo .card-mjk-fall:hover .card-mjk-fall-desc {
	opacity: 1;
}
/* card product */
.card-product .card-mjk-fall {
	background-color: transparent;
}
.card-product .card-product-content {
	position: relative;
	margin: 0;
	overflow: hidden;
	background-color: #fff;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin-bottom: 15px;
}
.card-product:hover .card-mjk-fall-img img {
	opacity: 0.4;
	filter: none;
	-webkit-filter:none;
	object-fit: cover;
}
.content-product-action {
	position: absolute;
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	z-index: 10;
}
.content-product-action .btn-mjk:hover i {
	transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.content-product-action .btn-mjk i {
	padding-right: 5px;
}
.content-product-action .btn-mjk.p-v2 {
	background: none;
	background-color: #fff;
	color: #215991 !important;
	border-color: #215991;
}
.content-product-action .btn-mjk.p-v2:hover {
	color:#ffffff !important;
	background: #215991;
	background: -moz-linear-gradient(-45deg, #215991 0%, #0c1d6b 100%);
	background: -webkit-linear-gradient(-45deg, #215991 0%, #0c1d6b 100%);
	background: linear-gradient(135deg,#215991 0% ,#0c1d6b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#215991', endColorstr='#0c1d6b',GradientType=1 );
	transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
}
.content-product-action .btn-mjk.p-v2:hover i {
	color:#ffffff !important;
}
.content-product-action .btn-mjk.p-v2 i { 
	color: #215991;
}
.card-product:hover .content-product-action {
	top: 50%;
	left: 50%;
	opacity: 1;
}
.card-product:hover .productbox-label {
	opacity: 0.4;
}
.fadeIn-bottom {
	top: 80%;
}
.card-product .card-mjk-fall-desc {
	padding: 0;
}
.card-product .card-mjk-fall-desc .text-clr {
	color: #0c1d6b;
	font-size: 18px;
	font-weight: 700;
	line-height: 23px;
	margin-bottom: 10px;
}
.card-product .card-mjk-fall-desc .text-clr:hover {
	color: #f86b54;
}
.card-mjk-flex {
	display: table;
	width: 100%;
}
.card-product .card-box-left {
	display: table-cell;
	width: auto;
}
.card-product .card-mjk-fall-img {
	height: 250px;
}
.card-product .btn-mjk {
	font-size: 14px;
}
.card-box-right {
	display: table-cell;
	width: 30px;
}
.box-price h6 {
	color: #c32c0e;
	font-weight: 700;
}
.box-cart-circle a {
	background-color: #e1e1e1;
	padding: 8px 10px 8px 10px;
	border-radius: 50%;
	font-size: 12px;
	color: #c32c0e;
}
.box-cart-circle a:hover i {
	color: #c32c0e;
	transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.box-view a {
	font-size: 16px;
	color: #c32c0e;
}
.box-view a:hover i {
	color: #c32c0e;
	transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.card-box-right.box-view {
	vertical-align: middle;
}
.price-discount {
	font-size: 12px;
	color: #999;
	text-decoration: line-through;
}
/* card label */
.productbox-label {
	min-width: 45px;
	position: absolute;
	right: 30px;
	top: 0;
	vertical-align: middle;
	padding: 8px 15px;
	height: 40px;
	background: #215991;
	background: -moz-linear-gradient(-45deg, #0c1d6b 0%, #215991 100%);
	background: -webkit-linear-gradient(-45deg, #0c1d6b 0%, #215991 100%);
	background: linear-gradient(135deg, #0c1d6b 0%, #215991 100%);
	-ms-transform-origin: top right;
	transform-origin: top right;
	-webkit-transform-origin: top right;
	-moz-transform-origin: top right;
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	z-index: 2;
}
.productbox-label h5 {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	padding: 0;
	margin: 0;
	text-align: right;
	font-weight: 700;
	letter-spacing: 0.5px;
}
/* = PAGINATION
-------------------------------------------------------------*/
.pagination .page-link {
	background-color: transparent;
	font-weight: 600;
	font-size: 16px;
	padding: 5px 15px 5px;
}
.page-item.disabled .page-link {
	background-color: transparent;
	color: #c0c0c0;
}
.pagination .page-item.active .page-link {
	font-weight: 600;
	color: #c32c0e;
}
.pagination .page-link:hover {
	color: #c32c0e;
}
.pagination .page-link:last-child :hover {
	color: #c32c0e;
	transform: translate(8px,0);
	-webkit-transform: translate(8px,0);
	-moz-transform: translate(8px,0);
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
.page-item:last-child .page-link {
	color: #c32c0e;
}
/* = TITLE
-------------------------------------------------------------*/
.title-main-mjk h1 {
	color: #0c1d6b;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.5px;
	margin-bottom: 1rem;
}
.title-main-mjk img {
	display: block;
	width: auto;
	height: 30px;
	margin-right: 30px;
}
.title-secondary-mjk h2 {
	color: #0c1d6b;
	font-size: 24px;
	text-transform: normal;
	font-weight: 700;
	letter-spacing: 0.5px;
}
.title-secondary-mjk h3 {
	color: #0c1d6b;
	font-size: 21px;
	text-transform: normal;
	font-weight: 700;
	letter-spacing: 0.5px;
}
.title-secondary-mjk-grey h2 {
	color: #666666;
	font-size: 24px;
	text-transform: none;
	font-weight: 700;
	letter-spacing: 0.5px;
}
.title-secondary-mjk-red h4 {
	color: #c32c0e;
	font-weight: 600;
	font-size: 18px;
	line-height: 23px;
	text-transform: uppercase;
}
/* = LIST CONTENT
-------------------------------------------------------------*/
.list-content-mjk .list-desc-mjk {
	padding-left: 30px;
}
.list-content-mjk .list-title-mjk h3 {
	font-size: 18px;
	font-weight: 700;
}
.list-content-mjk .list-title-mjk i {
	width: 30px;
}
/* = CART
-------------------------------------------------------------*/
.spinner-number-item input[type="text"] {
	height: 35px;
	border: 1px solid #ffffff;
}
.spinner-number-item button[type="button"] i {
	height: 33px;
}
.spinner-number-item button[type="button"] i {
	line-height:35px;
	background-color: #ffffff;
	width: 100%;
}
.spinner-number-item .sn-quantity-minus {
	border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
}
.spinner-number-item .sn-quantity-plus {
	border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
}
.spinner-number-item button[type="button"] {
	border: 1px solid #ffffff;
}
/* = ADDITIONAL
-------------------------------------------------------------*/
hr {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.content-mjk img {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.compensate-for-scrollbar {
	margin-right: 0px !important;
}
.br-right {
	border-right: 1px solid #ddd;
}
.blog-img img {
	object-fit: cover;
}