/*!
* PT. IMAJIKU CIPTA MEDIA
* Copyright 2019-2020 IMAJIKU.
*/

/* = SITEMAP
-------------------------------------------------------------*/
.content-mjk.sitemap ul {
	position: relative;
	padding-left: 15px;
}
.content-mjk.sitemap ul li a {
	color: #666666;
	line-height: 32px;
}
.content-mjk.sitemap ul li a:hover {
	color: #d32f2f;
}
/* = PROMOTION
------------------------------------------------------------ */
.content-promo-sale {
	display: block;
	position: relative;
}
.content-promo-sale h3 {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 700;
	color: #0c1d6b;
}
.content-promo-desc h4 {
	color: #0c1d6b;
	font-size: 18px;
	font-weight: 700;
}
.content-promo-code .btn-mjk {
	padding: 8px 50px 8px;
	line-height: 26px;
	border-top-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
}
.content-promo-code .form-group .form-control {
	color: #0c1d6b;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
}
.content-promo-code .form-inline {
	-ms-flex-flow: row;
	flex-flow: row;
}
.content-promo-code .form-inline .form-group {
	margin-bottom: 0;
}
/* = EVENT
------------------------------------------------------------ */
.foo-social-network.clr-grey li i{
	color: #666666;
}
.event-detail-slider img {
	/*height: 400px;*/
	object-fit: cover
}
.event-detail-slider .slick-dots {
	bottom: 25px;
}
.event-detail-slider .slick-dots li button:before {
	font-size: 12px;
	opacity: .5;
	color: #f4f4f4;
}
.event-detail-slider .slick-dots li.slick-active button:before {
	color: #fff;
	opacity: .85;
}
.content-event-slider {
	background-color: #fff;
	height: 420px;
	padding: 30px;
}
.content-event-slider h3 {
	font-size: 35px;
	color: #d32f2f;
	font-weight: 600;
	max-height: 170px;
	overflow: hidden;
}
.content-event-slider .date-event {
	color: #0c1d6b;
	font-weight: 600;
}
.content-event-slider p {
	margin-bottom: 30px;
}
.filter-event .input-group-text {
	padding: 15px 20px 15px;
	background-color: white;
	border-color: transparent;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.filter-event .form-control {
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	min-height: 50px;
}
.filter-event .select-mjk-box {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.filter-event .select-mjk-group {
	padding-right: 0px;
	padding-left: 0px;
}
.filter-event .select-mjk-box .select2-container--default .select2-selection--single {
	height: 48px;
}
.filter-event .select-mjk-box .select2-container--default .select2-selection--single .select2-selection__rendered {
	height: 48px;
	line-height: 45px;
}
.filter-event .select-mjk-box {
	min-width: 140px;
}
.filter-event .filter-mjk-group-action {
	padding-right: 0px;
	padding-left: 0px;
}
.filter-event .filter-mjk-group-action .btn-mjk {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
/* = TESTIMONIAL
------------------------------------------------------------ */
.testimonial-slider {
	display: block;
	position: relative;
}
.testimonial-slider .slick-slide {
	margin-right: 10px;
	margin-left: 10px;
}
.hero-slider-button.testimonial {
	top: 25%;
}
.hero-slider-button.button-3slides .hero-slider-prev i, .hero-slider-button.button-3slides .hero-slider-next i {
	color: #c32c0e;
	font-size: 30px;
}
.hero-slider-button.button-3slides .hero-slider-prev {
	left: -70px;
}
.hero-slider-button.button-3slides .hero-slider-next {
	right: -45px;
}
.testimonial-slider .card-testi-img {
	background-color: #ffffff;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.testimonial-slider .card-testi-img .card-mjk-fall {
	opacity: 0.5;
}
.testimonial-slider .card-testi-img a:hover .card-mjk-fall {
	opacity: 1;
}
/* = PRODUCT
------------------------------------------------------------ */
.sidebar-product .btn-mjk.clr-white {
	font-size: 14px;
	text-transform: uppercase;
	text-align: left;
}
.sidebar-product li {
	margin-bottom: 10px;
}
.sidebar-product li.active .btn-mjk {
	color: #ffffff !important;
	background: #215991;
	background: -moz-linear-gradient(-45deg,  #215991 0%, #0c1d6b 100%);
	background: -webkit-linear-gradient(-45deg,  #215991 0%, #0c1d6b 100%);
	background: linear-gradient(135deg,  #215991 0% ,#0c1d6b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#215991', endColorstr='#0c1d6b',GradientType=1 );
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	pointer-events: none;
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
}
.filter-product .filter-mjk-group .select-mjk-group {
	padding-right: 25px;
	padding-left: 12px;
}
.filter-product .filter-mjk-group .select-mjk-group label {
	font-size: 16px;
	color: #c32c0e;
	font-weight: 600;
}
.filter-product .select-mjk-box {
	min-width: 170px;
}
.filter-brand .custom-control-label {
	font-size: 14px;
	text-transform: uppercase;
	text-align: left;
	color: #0c1d6b;
	font-weight: 700;
	letter-spacing: 0.5px;
}
.filter-brand .input-group-mjk li {
	margin-bottom: 5px
}
.filter-brand .btn-mjk {
	font-size: 14px;
}
/* = PRODUCT DETAIL
------------------------------------------------------------ */
.produk-slider-box .product-slider img {
	height: 415px;
	object-fit: cover;
	margin-bottom: 0px;
	padding: 10px;
	border-radius: 4px;
}
.produk-slider-box .product-slider i {
	padding: 15px 15px;
	color: #0c1d6b;
	font-size: 30px;
	position: absolute;
	bottom: 15px;
	right: 15px;
}
.produk-slider-box .product-slider-nav img {
	height: 85px;
	object-fit: cover;
	padding: 10px;
	opacity: 0.3;
	cursor: pointer;
}
.produk-slider-box .product-slider-nav .slick-current.slick-active img {
	opacity: 1;
}
.produk-slider-box .product-slider-nav .bg-white {
	background-color: #fff;
	margin: 10px;
}
.product-price-box {
	background-color: #fff;
	border-radius: 4px;
	height: 430px;
}
.product-price-box.box-parts {
}
.product-price-box .product-price-stock {
	padding: 25px 40px 5px 40px;
}
.product-price-box .product-price-desc {
	padding: 10px 40px 30px 40px;
}
.product-price-box hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.product-price-desc {
	display: table;
	width: 100%
}
.product-desc .tab-content {
	background-color: #eeeeee;
	padding: 30px 40px 30px 40px;
}
.product-desc .nav-pills {
	margin: 0 auto;
}
.product-price-title p {
	margin-bottom: 5px;
	font-weight: 600;
}
.product-price-stock p {
	margin-bottom: 5px;
	font-weight: 700;
}
.product-price-stock p span {
	font-weight: 700;
	color: #dd0000;
}
.product-price-desc ul.label li {
	display: inline-block;
	padding: 0px 10px 0px 0px;
	color: #dd0000;
	font-weight: 700;
	font-size: 14px;
}
.product-price-desc .card-box-left {
	max-width: 300px;
}
.product-price-desc .card-box-left p {
	font-weight: 600;
	margin-bottom: 5px;
}
.product-price-desc .card-box-right {
	width: auto;
	vertical-align: bottom;
}
.product-price-desc .card-box-right ul li {
	color: #bbbbbb;
}
.product-desc .tab-pane .table td {
	padding: 5px;
	color: #666666;
}
.product-desc .nav-item .nav-link {
	border-color: #ffffff;
	color: #0c1d6b !important;
	background-color: #ffffff;
	background:#ffffff;
	font-weight: 700;
	padding: 12px 20px 12px;
	min-height: 42px;
	line-height: 22px;
	transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	margin: 20px 6px 20px 6px;
	font-size: 16px;
}
.product-desc .nav-item .nav-link.active {
	color: #ffffff !important;
	font-weight: 400;
	border-color: transparent;
	background: #215991;
	background: -moz-linear-gradient(-45deg,  #215991 0%, #0c1d6b 100%);
	background: -webkit-linear-gradient(-45deg,  #215991 0%, #0c1d6b 100%);
	background: linear-gradient(135deg,  #215991 0% ,#0c1d6b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#215991', endColorstr='#0c1d6b',GradientType=1 );
	padding: 12px 20px 12px;
	min-height: 42px;
	line-height: 22px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	font-size: 16px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	letter-spacing: 0.3px;
	text-align: center;
	border: 0px solid transparent;
}
.product-desc .tab-content ul.list-desc {
	list-style: none; 
	padding: 0;
	margin: 0;
}
.product-desc .tab-content ul.list-desc li {
	padding-left: 15px;
}
.product-desc .tab-content ul.list-desc li:before {
	content: "-"; 
	padding-right: 8px;
}
.product-desc .tab-content .brochure-down li {
	margin-bottom: 10px;
	padding-left: 15px;
}
.product-desc .tab-content .brochure-down li a {
	color: #666666;
}
.product-desc .tab-content .brochure-down li a i {
	font-size: 21px;
	margin-right: 8px;
}
.product-desc .tab-content .brochure-down li a:hover {
	color: #d32f2f;
}
/*related product*/
.related-product {
	padding: 30px 50px 30px 50px;
	background-color: #fff;
	position: relative;
}
.related-product .card-mjk-fall-box {
	padding: 40px;
}
.related-product .hero-slider-button.button-3slides .hero-slider-next {
	right: 25px;
}
/*detail product price*/
.product-price-desc .cart-size {
	display: table;
	width: 100%;
	position: relative;
	margin-bottom: 5px;
}
.product-price-desc .cart-size .form-row {
	display: table-cell;
	padding-right: 15px;
}
.product-price-desc .cart-size .cart-item-desc-amount {
	display: table-cell;
}
.product-price-desc .cart-size .select-mjk-box {
	min-width: 50px;
	border: 1px solid #dee2e6;
}
.product-price-desc .cart-size .cart-item-desc-amount .spinner-number-item {
	justify-content: flex-start;
}
.product-price-desc .cart-size .spinner-number-item input[type="text"] {
	height: 35px;
	border: 1px solid #eaeaea;
}
.product-price-desc .cart-size .spinner-number-item button[type="button"] i {
	height: 33px;
}
.product-price-desc .cart-size .spinner-number-item button[type="button"] i {
	line-height:35px;
	background-color: #eee;
	width: 100%;
}
.product-price-desc .cart-size .spinner-number-item .sn-quantity-minus {
	border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
}
.product-price-desc .cart-size .spinner-number-item .sn-quantity-plus {
	border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
}
.product-price-desc .cart-size .spinner-number-item button[type="button"] {
	border: 1px solid #eaeaea;
}
.product-price-desc .cart-size .select-mjk-box .select2-container--default .select2-selection--single {
	height: 34px;
}
.product-price-desc .cart-size .select-mjk-box .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 34px;
}
.product-price-desc .cart-size .select-mjk-box .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 34px;
}
.product-price-desc .price-discount-detail h3 {
	font-size: 16px;
	color: #999;
	text-decoration: line-through;
	font-weight: 700;
}
.product-price-desc .price-now h3 {
	color: #0c1d6b;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.5px;
}
/* = FAQ
------------------------------------------------------------ */
.faq-sidebar .nav-link.active {
	background-color: transparent;
	color: #d32f2f;
	font-weight: 600;
	padding-left: 5px;
}
.faq-sidebar .nav-link {
	color: #0c1d6b;
	font-weight: 600;
	padding-left: 5px;
	padding-bottom: 15px;
}
.faq-sidebar .nav-link:hover {
	color: #d32f2f;
}
.faq-content {
	padding-left: 10px;
}
.faq-content .card-header {
	border-color: transparent;
	background-color: transparent;
	padding: 5px 0px 5px 0px;
}
.faq-content .card {
	background-color: transparent;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	border-radius: 0;
}
.faq-content .accordion>.card:not(:first-of-type):not(:last-of-type) {
	border-bottom: 1px solid #ddd;
}
.faq-content .accordion>.card:first-of-type {
	border-bottom: 1px solid #ddd;
}
.faq-content .btn-link {
	color:#666666;
	font-weight: 600;
	font-size: 16px;
	padding-left: 0;
}
.faq-content .btn-link:hover {
	color: #d32f2f;
	text-decoration: none;
}
.faq-content .btn-link.focus, .faq-content .btn-link:focus {
	text-decoration: none;
}
.faq-content .card-body {
	font-size: 14px;
	line-height: 24px;
	padding-top: 5px;
	padding-left: 0;
}
.faq-no-collapse h3 {
	font-size: 16px;
	margin-bottom: 15px;
	font-weight: 600;
}
.faq-no-collapse .icon-content{
	width: 40px;
}
.faq-no-collapse .icon-content i {
	font-size: 21px;
	vertical-align: middle;
}
.faq-no-collapse .desc-content {
	width: auto;
	vertical-align: top;
}
.faq-no-collapse .desc-content p {
	font-size: 14px;
}
/* = CAREER
------------------------------------------------------------ */
.contact-desc .foo-social-network ul {
	margin: 0;
}
.contact-desc .foo-social-network li:first-child {
	padding-left: 0;
}
.career-box .career-content {
	display: block;
	position: relative;
	background-color: #ffff;
	border-radius: 4px;
	padding: 5px 20px 5px 20px;
	margin-bottom: 2px;
}
.career-box .career-content .pcgs-link {
	padding: 15px 0px 15px;
	display: block;
	width: 100%;
}
.career-box .career-content .pcgs-link:hover h3 {
	color: #d32f2f;
}
.career-box .career-content .pcgs-link h3 {
	display: inline-block;
	margin: 0;
	font-size: 18px;
	color: #0c1d6b;
	font-weight: 600;
	width: 250px;
	white-space: pre-line;
}
.career-box .career-content .pcgs-link span {
	float: right;
	margin-top: 3px;
	font-size: 14px;
	color: #ccc;
}
.career-box .career-content .pcgs-link:hover span {
	color: #d32f2f;
}
/* = ABOUT
------------------------------------------------------------ */
.mission-about li {
	padding-top: 5px;
}
.mission-about li:after {
	content: "";
	border-bottom: 1px solid #666666;
	display: block;
	width: 60%;
	padding-bottom: 5px;
}
.mission-about li:last-child:after {
	border-bottom: 1px solid transparent;

}
/* = CONTACT
------------------------------------------------------------ */
/*.contact-img-form {
	height: 245px;
	}*/
	.contact-img-form img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

/* = BRAND SLIDER
------------------------------------------------------------ */
.hero-slider-button.button-brand .hero-slider-prev, 
.hero-slider-button.button-brand .hero-slider-next{
	width: 50px;
	height: auto;
}
.hero-slider-button.button-brand .hero-slider-prev i, 
.hero-slider-button.button-brand .hero-slider-next i {
	color: #c32c0e;
	font-size: 30px;
	line-height: 30px;
}
.hero-slider-button.button-brand .hero-slider-prev {
	left: -45px;
}
.hero-slider-button.button-brand .hero-slider-next {
	right: -15px;
}