/*!
* PT. IMAJIKU CIPTA MEDIA
* Copyright 2019-2020 IMAJIKU.
*/

/* = General
-------------------------------------------------------------*/

/*title*/


/* = Home
-------------------------------------------------------------*/

/*home hero*/
.home-hero {
	position: relative;
	display: block;
	overflow: hidden;
}
.home-hero .home-hero-caption {
	display: block;
	position: absolute;
	bottom: 35%;
	left: 25%;
	right: 0;
	margin: 0 auto;
	text-align: center;
	z-index: 2;
	width: 100%;
}
.home-hero .home-hero-caption h1 {
	color: #000000;
	font-size: 40px;
	letter-spacing: 3px;
	font-weight: 500;
	margin-bottom: 0;
	width: 100%;
}
.home-hero .home-hero-caption p {
	color: #000000;
	font-weight: 400;
	letter-spacing: 1px;
	margin-top: 15px;
}
.home-hero-img {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.home-hero-img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-height: 90vh;
	overflow: hidden;
}
.title-primary.title-home h1 {
	letter-spacing: 2px
}

/*light effect hover*/
.effect-lightning:before {
	left: 0;
	top: 0;
}
.effect-lightning:after {
	bottom: 0;
	right: 0;
}
.effect-lightning:before,
.effect-lightning:after {
	background: rgba(255, 255, 255, .1) none repeat scroll 0 0;
	content: " ";
	height: 0;
	padding: 0;
	position: absolute;
	transition: all 0.7s ease-out 0s;
	-webkit-transition: all 0.7s ease-out 0s;
	-moz-transition: all 0.7s ease-out 0s;
	-ms-transition: all 0.7s ease-out 0s;
	-o-transition: all 0.7s ease-out 0s;
	width: 0;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	z-index: 1;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
}
.home-hero:hover .effect-lightning:before,
.home-hero:hover .effect-lightning:after {
	height: 100%;
	width: 100%;
	transform: rotatex(-180deg);
	-webkit-transform: rotatex(-180deg);
	-moz-transform: rotatex(-180deg);
	-ms-transform: rotatex(-180deg);
	-o-transform: rotatex(-180deg);
	opacity: 0;
}

/*highlight product categories*/
.product-categories-box{
	display: block;
	position: relative;
	overflow: hidden;
}
.product-categories {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.product-categories-img {
	position: relative;
	display: block;
	width: 50%;
	overflow: hidden;
}
.product-categories-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
.product-categories-img .action-btn {
	display: block;
	position: absolute;
	bottom: 15%;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	z-index: 2;
	width: 100%;
}
.product-categories-img:hover img {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0);
	-webkit-transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0);
	-moz-transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0);
	filter: brightness(70%);
	-webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
}

/*about banner*/
.about-banner {
	position: relative;
	display: block;
	overflow: hidden;
}
.about-banner .about-banner-caption {
	display: block;
	position: absolute;
	bottom: 25%;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	z-index: 2;
	width: 100%;
}
.about-banner .about-banner-caption h1 {
	color: #ffffff;
	font-size: 40px;
	letter-spacing: 3px;
	font-weight: 500;
	margin-bottom: 0;
	width: 100%;
}
.about-banner .about-banner-caption p {
	color: #000000;
	font-weight: 400;
	letter-spacing: 1px;
	margin-top: 15px;
}
.about-banner-img {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.about-banner img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-height: 90vh;
}
.about-banner:hover .effect-lightning:before,
.about-banner:hover .effect-lightning:after {
	height: 100%;
	width: 100%;
	transform: rotatex(-180deg);
	-webkit-transform: rotatex(-180deg);
	-moz-transform: rotatex(-180deg);
	-ms-transform: rotatex(-180deg);
	-o-transform: rotatex(-180deg);
	opacity: 0;
}

/*slider product*/
.globalslider .card-product-box {
	position: relative;
	width: 100%;
	margin-right: 15px;
	margin-left: 15px;
	overflow: hidden;
}

/*instagram*/
.title-primary .text-follow {
	text-transform: none;
	color:#000000;
	font-weight: 400;
}
.title-primary .text-follow a {
	color:#000000;
}
.title-primary .text-follow i {
	margin-left: 5px;
}

/* = Product
------------------------------------------------------------ */
/*form product categories*/
.filter-mjk-group-box.filter-product {
	justify-content: space-between;
}
.filter-product .filter-mjk-group {
	justify-content: space-between;
	flex: 1;
}
.filter-product .select-mjk-box {
	margin-top: 1px;
	border:1px solid #333333;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	width: 175px;
	max-width: 175px;
}

/*filter show list product category*/
.filter-show p {
	margin-bottom: 0;
	font-size: 14px;
}
.filter-show .list-inline {
	margin-bottom: 0;
}
.filter-show .list-inline-item {
	font-size: 14px;
	text-align: center;
	margin-right: 2px;
}
.filter-show .list-inline-item + .list-inline-item:before {
	content: "/";
}
.filter-show .list-inline-item.active {
	font-size: 16px;
	font-weight: 600;
}
.filter-show .list-inline a {
	color: #333333;
}
.filter-show .list-inline a:hover {
	color: #ab894b;
}

/*product-concern*/
.product-concern {
	display: block;
	position: relative;
	text-align: center;
}
.product-concern .product-concern-item {
	display: block;
	position: relative;
	width: 170px;
	height: 100%;
}
.product-concern .list-inline-item:nth-child(-n+3) .product-concern-item:after {
	content: "";
	display: block;
	height: 50px;
	position: absolute;
	top: 30px;
	right: 0;
	border-right: 1px solid #eaeaea;
}
.product-concern .product-concern-item img {
	width: 60px;
	height: 100%;
	margin: 15px;
}
.product-concern .product-concern-item h3 {
	color: #000000;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*product filter horizontal*/
.featured-filter {
	padding-left: 0;
	margin-bottom: 10px;
}
.featured-filter .custom-control-label::before {
	top: 109px;
	left: 0;
}
.featured-filter .custom-control-label::after {
	top: 109px;
	left: 0;
}
.featured-filter label img {
	margin-bottom: 10px;
	object-fit: cover;
	width: 100%;
	height: 95px;
}
.featured-filter label span {
	font-weight: 500;
	padding-left: 22px;
	text-transform: uppercase;
}

/*product color sidebar*/
.product-color {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	padding: 1px;
	margin-right: 5px;
}

/*filter sidebar*/
.filter-fine-mobile {
	position: relative;
	display: block;
}
.filter-sidebar-box {
	position: relative;
	display: block;
	padding-top: 57%;
}
.filter-brand .check-mjk .custom-control-label {
	padding-left: 5px;
	padding-bottom: 10px;
}
.filter-brand .collapse-mjk-head {
	margin-bottom: 15px;
}
.filter-brand .collapse-mjk-link h4 {
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 0;
}
.filter-brand .collapse-mjk-link {
	border: 2px solid transparent;
	padding: 10px 15px 10px 15px;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
}
.filter-brand .collapse-mjk-body {
	border-color: transparent;
}
.filter-brand .collapse-mjk-body .input-group {
	margin-bottom: 0;
}
.filter-brand .collapse-mjk-link[aria-expanded="true"] {
	border: 2px solid;
	border-image: radial-gradient(circle, rgba(173,138,90,1) 0%, rgba(223,204,179,1)) 1;
	border-image: -webkit-radial-gradient(circle, rgba(173,138,90,1) 0%, rgba(223,204,179,1)) 1;
	border-image: -moz-radial-gradient(circle, rgba(173,138,90,1) 0%, rgba(223,204,179,1)) 1;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
}
.filter-brand .collapse-mjk-link span i {
	color: #333333;
	font-size: 14px;
}
/* =Filter Sidebar
-------------------------------------------------------------*/
.filter-sidebar{
	margin-bottom: 30px;
}
.filter-fine-mobile{
	display: none;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	padding: 0;
}
.filter-sidebar-box .close,
.filter-sort-box .close{
	display: none;
}
.disablescrollbar{
	overflow: hidden;
}
.filter-product-for-mobile{
	display: none;
}
.filter-brand-action {
	display: none;
}

/* = Product Detail
------------------------------------------------------------ */
/*product slider*/
.produk-slider-box {
	position: relative;
	display: block;
}
.produk-slider-box .product-slider img {
	height: 600px;
	object-fit: cover;
	margin-bottom: 0px;
	padding: 10px;
	border-radius: 4px;
}
.produk-slider-box .product-slider i {
	padding: 15px 15px;
	font-size: 30px;
	position: absolute;
	bottom: 15px;
	right: 15px;
}
.product-slider-nav {
	position: relative;
	display: block;
	z-index: 3;
}
.product-slider-nav .product-img-thumb {
	position: relative;
	display: block;
	width: 85px;
	height: 85px;
	padding: 3px;
}
.product-slider-nav .product-img-thumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}
.produk-slider-box .product-slider-nav .slick-current.slick-active img {
	border: 1px solid #d9bb84;
}
.product-slider-nav-box {
	position: relative;
	display: block;
	padding: 10px;
}
.product-slider-nav-box .globalslider-prev {
	left: -23px;
	margin-top: 15px;
}
.product-slider-nav-box .globalslider-next {
	right: -23px;
	margin-top: 15px;
}


.product-desc-box {
	position: relative;
	display: block;
	padding: 0px 45px 10px 45px;
}
.product-desc-title {
	text-align: center;
	position: relative;
	display: block;
}
.product-desc-title h3 {
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 1px;
}
.product-desc-title p {
	color: #666666;
	font-size: 14px;
}
.product-desc-price {
	text-align: center;
	position: relative;
	display: block;
}
.product-price {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.price-discount h3 {
	color: #999999;
	font-size: 20px;
	font-weight: 400;
	margin: 5px;
	text-decoration: line-through;
}
.price-now h3 {
	color: #151515;
	font-size: 20px;
	font-weight: 500;
	margin: 5px;
}
.product-desc-option {
	position: relative;
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}
.option-shade {
	border: 1px solid #000;
	padding: 7px 35px 7px;
}
.option-shade .select-mjk-group {
	justify-content: space-between;
	margin-bottom: 0;
}
.option-shade .select-mjk-group label {
	text-transform: uppercase;
	font-size: 14px;
	color: #000000;
	margin-bottom: 0;
}
.option-shade .select-mjk-box {
	min-width: 200px;
	background-color: transparent;
}
.option-amount {
	border: 1px solid #000;
	padding: 15px 35px 15px;
}
.option-amount .cart-amount-quantity {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.option-amount .cart-amount-quantity label {
	text-transform: uppercase;
	font-size: 14px;
	color: #000000;
	margin-bottom: 0;
}
.option-amount .spinner-number-item {
	min-width: 200px;
	background-color: transparent;
}
.option-amount .spinner-number-item input {
	min-width: 150px;
	background-color: transparent;
	font-weight: 500;
	font-size: 14px;
}
.option-amount .spinner-number-item button {
	background-color: transparent;
}
.option-amount .spinner-number-item button[type="button"] i {
	color: #000000;
}
.product-tab-detail {
	position: relative;
	padding: 15px 0 15px;
}
.product-tab-detail p {
	font-size: 14px;
	line-height: 26px;
	color: #151515;
}
.product-tab-detail ul li {
	font-size: 14px;
	line-height: 26px;
	color: #151515;
}
.nav-pills .nav-link {
	color:#151515;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 15px 20px 15px 20px;
}
.product-desc-tab {
	position: relative;
	display: block;
}
.product-desc-tab .nav-pills .nav-link.active, .product-desc-tab .nav-pills .show > .nav-link {
	background-color:transparent;
	color:#151515;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}
.product-desc-tab .nav-item {
	position: relative;
	display: block;
}
.product-desc-tab .nav-item:nth-child(-n+2):after {
	content: "";
	display: block;
	height: 35px;
	position: absolute;
	top: 10px;
	right: 0;
	border-right: 1px solid #000000;
}

.product-btn-action {
	position: relative;
	display: block;
}
.product-btn-action-img img {
	width: 50px;
	height: 50px;
}
.product-btn-action-box a {
	padding: 5px;
}
.product-btn-action-img {
	display: block;
	float: left;
}
.product-btn-action-desc {
	display: block;
	margin: 14px auto;
}

/* = CART GROUP
------------------------------------------------------------ */

/* = Article
------------------------------------------------------------ */
/*video*/
video {
	pointer-events: none;
}
.video-hero {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 600px;
}
.video-hero .video-hero-caption {
	display: block;
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	z-index: 2;
	width: 100%;
}
.video-hero .video-hero-caption h1 {
	font-size: 40px;
	color:#d9bb84;
	letter-spacing: 1px;
	letter-spacing: 3px;
	font-weight: 500;
}
.video-hero .video-hero-caption p {
	font-size: 16px;
	text-transform: uppercase;
	color:#ffffff;
	letter-spacing: 1px;
}
.video-hero .video-content {
	width: 100%;
	height: auto;
}
.video-hero:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.82) 100%);
	background: -webkit-linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.82) 100%);
	background: -moz-linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.82) 100%);
	z-index: 1;
}


/*filter store*/
.filter-store {
	border: 1px solid #000;
	padding: 7px 25px 7px;
}
.filter-store .select-mjk-group {
	justify-content: space-between;
	margin-bottom: 0;
}
.filter-store .form-group {
	margin-bottom: 0;
}
.filter-store .input-group {
	margin-bottom: 0;
}
.filter-store .input-group-mjk .input-group-text i {
	color: #000000;
}


/*card store*/
.card-store-box {
	position: relative;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.card-store-desc h3 {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	color: #151515;
}
.card-store-desc p{
	font-size: 14px;
	line-height: 26px;
	color: #151515;
	margin-bottom: 5px;
}

/*event detail*/
.events-item {
	position: relative;
	display: block;
	margin-bottom: 30px;
}
.content-event {
	position: relative;
	background-color: #ffffff;
	height: 420px;
	padding: 30px;
}
.content-event .date-event {
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.content-event h3 {
	font-size: 30px;
	line-height: 35px;
	color: #d9bb84;
	font-weight: 500;
	min-height: 170px;
	overflow: hidden;
}

/*quote*/
.quotes-article {
	position: relative;
	display: block;
}
.quotes-article blockquote {
	width: 500px;
	margin: 0 auto;
}
.quotes-article h3 {
	margin: 15px auto;
	font-size: 16px;
	color: #151515;
	line-height: 26px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}

/* = FAQ
------------------------------------------------------------ */
/*filter*/
.filter-search {
	display: block;
	width: 100%;
}
.filter-search .input-group-text {
	padding: 15px 20px 15px;
	background-color: white;
	border-color: transparent;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.filter-search .form-control {
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	min-height: 50px;
}

.faq-sidebar {
	position: relative;
	display: block;
}
.faq-sidebar .nav-link.active {
	background-color: transparent;
	color: #d9bb84;
	font-weight: 600;
	padding-left: 5px;
}
.faq-sidebar .nav-link {
	color: #151515;
	text-transform: none;
	font-weight: 600;
	padding-left: 5px;
	padding-bottom: 15px;
	letter-spacing: 0;
}
.faq-sidebar .nav-link:hover {
	color: #d9bb84;
}
.faq-content {
	padding-left: 10px;
}
.faq-content .card-header {
	border-color: transparent;
	background-color: transparent;
	padding: 5px 0px 5px 0px;
}
.faq-content .card {
	background-color: transparent;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	border-radius: 0;
}
.faq-content .accordion>.card:not(:first-of-type):not(:last-of-type) {
	border-bottom: 1px solid #ddd;
}
.faq-content .accordion>.card:first-of-type {
	border-bottom: 1px solid #ddd;
}
.faq-content .collapse-mjk-item {
	position: relative;
	display: block;
	border-bottom: 1px solid rgba(0,0,0,.125);
}
.faq-content .collapse-mjk-link {
	border: none;
}
.faq-content .collapse-mjk-link h3  {
	font-weight: 400;
	font-size: 16px;
	padding-left: 0;
	color: #151515;
	margin-bottom: 0;
	font-family: 'Montserrat', sans-serif;
}
.faq-content .collapse-mjk-link h3:hover {
	color: #d9bb84;
	text-decoration: none;
}
.faq-content .collapse-mjk-link.focus, .faq-content .collapse-mjk-link:focus {
	text-decoration: none;
}
.faq-content .content-desc p {
	font-size: 14px;
	line-height: 24px;
	padding-top: 5px;
	padding-left: 0;
	color: #666666;
}
.faq-list-content {
	position: relative;
	display: block;
	margin-top: 15px;
}
.faq-list-content h3 {
	font-size: 16px;
	margin-bottom: 15px;
	font-weight: 400;
	color: #151515;
}
.faq-list-content .icon-content{
	width: 40px;
}
.faq-list-content .icon-content i {
	font-size: 21px;
	vertical-align: middle;
	color:#666666;
	margin-top: 9px;
	margin-right: 15px;
}
.faq-list-content .content-desc {
	width: auto;
	vertical-align: top;
}
.faq-list-content .content-desc p {
	font-size: 14px;
	line-height: 24px;
	padding-top: 5px;
	padding-left: 0;
	color: #666666;
}
.faq-list-content .card-mjk-flex {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}


/* = Career
------------------------------------------------------------ */
.collapse-career-box {
	position: relative;
	display: block;
	background-color: #ffffff;
}
.collapse-career-box .collapse-mjk-link h3 { 
	font-size: 16px;
	margin-bottom: 15px;
	font-weight: 700;
	color: #151515;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	margin-bottom: 0;
}
.collapse-career-box .collapse-mjk-link {
	padding: 25px;
	border-bottom: 1px solid #d9bb84;
}
.collapse-career-box .collapse-mjk-link span i {
	color: #151515;
}
.collapse-career-box .collapse-mjk-link[aria-expanded="true"] {
	border-bottom: 1px solid #d9bb84;
}
.collapse-career-box .content-desc {
	position: relative;
	display: block;
	padding: 25px;
}
.collapse-career-box .content-desc p {
	font-size: 14px;
	line-height: 24px;
	padding-top: 5px;
	padding-left: 0;
	color: #666666;
}
.collapse-career-box .content-desc ul li {
	font-size: 14px;
	line-height: 24px;
	padding-top: 5px;
	padding-left: 0;
	color: #666666;
	padding-left: 0;
	list-style: none;
	
}
.collapse-career-box .content-desc ul li:before {
	content: "-";
	display: inline-block;
	padding-right: 10px;
}


/* = Thank Page
------------------------------------------------------------ */
.thank-page-box p {
	text-align: center;
}
.thank-page-order h3 {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
}
.thank-page-action {
	text-align: center;
	margin: 15px auto;
}
.thank-page-action .btn-mjk {
	min-width: 235px;
}

/* = Contact
------------------------------------------------------------ */
.contact-img {
	position: relative;
	display: block;
}
.contact-img img {
	display: block;
	width: 100%
}
.contact-desc {
	position: relative;
	display: block;
}
.contact-desc ul {
	display: block;
	list-style: none;
	padding: 0;
	margin-top: 10px;
}
.contact-desc li {
	display: block;
	position: relative;
	font-size: 14px;
	font-weight: 500;
	color: #151515;
	padding: 5px 0 4px;
	padding-left: 37px;
}
.contact-desc li i {
	position: absolute;
	top: 5px;
	left: 0;
	color: #151515;
	font-size: 18px;
	margin-left: 4px;
	margin-right: 4px;
}
.contact-desc li a {
	font-size: 14px;
	font-weight: 500;
	color: #151515;
}
.contact-desc li a:hover {
	color: #ab894b;
}

/* = Cart
------------------------------------------------------------ */
.cart-item .td-col:nth-child(1) {
	width: 125px;
	height: 125px;
}
.cart-item-img-box {
	background-color: #fff;
}
.cart-tbody li {
	border-color: transparent;
	padding: 15px 0px 15px;
}
.cart-tbody {
	border-bottom: 1px solid #999999;
}
.cart-item .cart-item-img {
	width: 100px;
	height: 130px;
	margin: 0 auto;
}
.cart-item .cart-item-desc {
	vertical-align: middle;
}
.cart-item .cart-item-desc-amount {
	width: 395px;
	vertical-align: middle;
}
.cart-item .cart-item-desc-amount > .td-col:nth-child(2) {
	width: 215px;
	text-align: right;
}
.cart-amount-subtotal p {
	color: #151515;
	font-weight: 700;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
.cart-amount-quantity p {
	color: #151515;
	font-weight: 500;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
.cart-item h3 {
	color: #151515;
	text-transform: uppercase;
}
.cart-item h4 {
	font-size: 13px;
	color: #666666;
	font-weight: 400;
}
.cart-item-desc a:hover h3  {
	color: #ab894b;
}
.cart-amount {
	display: flex;
	justify-content: space-between;
	padding: 20px 0 5px;
	margin-top: 5px;
	align-items: center;
}
.cart-amount h4 {
	font-size: 16px;
	font-weight: 600;
	margin: 0;
}
.cart-item .spinner-number-item button[type="button"] {
	background-color: #f5f5f5;
}
.cart-item .spinner-number-item button[type="button"] i {
	color: #151515;
}
.grand-total-value {
	text-align: right;
}
.cart-amount-action {
	justify-content: space-between;
}

/* = Checkout
------------------------------------------------------------ */
.cart-for-checkout .cart-item .cart-item-desc-amount {
	width: 360px;
}
.billing-address{
	display: block;
}
.billing-address h4{
	font-size: 16px;
	font-weight: 700;
}
.billing-address p{
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 0;
}
.billing-address-action a,
.billing-address-action i{
	font-size: 14px;
}

.order-summary{
	display: block;
}
.order-summary .voucher-code-value{
	
}
.order-summary .voucher-code-value .promo-code-result{
	display: block;
	position: relative;
	padding: 10px 20px 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.order-summary .voucher-code-value .promo-code-result h3{
	margin: 0 0 10px 0;
	font-size: 14px;
	font-weight: 600;
	color: #151515;
}
.order-summary .voucher-code-value .promo-code-result p{
	margin: 0;
	font-size: 14px;
	line-height: 15px;
}
.order-summary .voucher-code-value .promo-code-result .delete-info-box{
	position: absolute;
	top: -10px;
	right: -10px;
	color: #999999;
}
.order-summary .voucher-code-value .promo-code-result i{
	font-size: 20px;
}


.order-summary .osum{
	list-style: none;
	margin: 0;
	padding: 0;
}
.order-summary .osum li{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.order-summary .osum .osum-col:nth-child(1){
	width: 50%;
}
.order-summary .osum .osum-col:nth-child(2){
	width: 40%;
	justify-content: space-between;
	text-align: right;
}
.order-summary .osum .osum-col:nth-child(2) p {
	font-weight: 600;
}

.shipper-selection .select-mjk-box {
	min-width: 294px;
	height: 50px;
	background-color: #151515;
}
#select2-data_shipper-results {
	margin: -2px;
}
.shipper-selection .select-mjk-box .select2-container--default .select2-selection--single .select2-selection__rendered {
	font-size: 13px;
	color: #ffffff;
	font-weight: 600;
}
.shipper-selection .select-mjk-box .select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #ffffff transparent transparent transparent;
}
.shipper-selection .select-mjk-box .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent #ffffff transparent !important;
}

.modal-edit-address {
	background-color: #f5f5f5;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.modal-edit-address .modal-title {
	text-align: center;
	font-weight: 500;
	letter-spacing: 1px;
}

/*label*/
.label-order-pending,
.label-order-paid,
.label-order-completed,
.label-address-primary{
	display: table;
	min-width: 100px;
	text-align: center;
	padding: 3px 10px 3px;
	border: 1px solid #666666;
	background-color: transparent;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.label-order-pending p,
.label-order-paid p,
.label-order-completed p,
.label-address-primary p{
	font-size: 11px;
	line-height: 18px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin: 0;
	color: #666666;
}

.label-order-pending{
	border-color: #666666;
}
.label-order-pending p{
	color: #666666;
}
.label-order-paid{
	border-color: #0c1d6b;
}
.label-order-paid p{
	color: #0c1d6b;
}
.label-order-completed{
	border-color: #d32f2f;
}
.label-order-completed p{
	color: #d32f2f;
}
.label-address-primary {
	border-color: #d9bb84;
}
.label-address-primary p {
	color: #d9bb84;
}

.number-order-box{
	display: table;
	width: auto;
	padding: 10px 20px 10px;
	background-color: #ffffff;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	color: #0c1d6b;
	font-weight: bold;
	margin-bottom: 10px;
}


/*modal edit address*/
.modal-edit-address {
	position: relative;
	display: block;
}
.modal-edit-address .modal-header {
	padding: 20px 20px 0;
}
.my-address-box {
	position: relative;
	display: block;
	background-color: #ffffff;
	border:1px solid #ffffff;
	padding: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
.my-address-box:hover {
	border:1px solid #d9bb84;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
.dataaddress-name {
	display: flex;
	flex-direction: row;
}
.dataaddress-name .label-address-primary {
	margin-top: -5px;
	margin-left: 15px;
}


/* = Dashboard Profile
------------------------------------------------------------ */
.sidebar-menu-box {
	margin-top: 0;
}
.sidebar-menu-box .sidebar-menu-title {
	margin-bottom: 0;
}
.sidebar-menu-link {
	font-size: 16px;
	color: #151515 !important;
	text-transform: uppercase;
	margin-bottom: 10px;
	border: 2px solid #f5f5f5;
	font-family: 'Roboto', sans-serif;
}
.sidebar-menu-label.active, .sidebar-menu-label:hover, .sidebar-menu-link[aria-expanded="true"] {
	color: #151515 !important;
	background-color: transparent;
	border: 2px solid #f5f5f5;
	border-image: radial-gradient(circle, rgba(173,138,90,1) 0%, rgba(223,204,179,1)) 1;
	border-image: -webkit-radial-gradient(circle, rgba(173,138,90,1) 0%, rgba(223,204,179,1)) 1;
	border-image: -moz-radial-gradient(circle, rgba(173,138,90,1) 0%, rgba(223,204,179,1)) 1;
}
.sidebar-menu-label.menu-open.active {
	cursor: default;
	pointer-events: none;
}
.sidebar-menu-link[aria-expanded="true"] .caret-hide i {
	color: #151515;
}
.sidebar-submenu .sidebar-menu-link {
	margin-bottom: 0;
	background-color: transparent;
	color: #777777 !important;
}
.sidebar-submenu .sidebar-menu-link.active, .sidebar-submenu .sidebar-menu-link:hover {
	color:#d9bb84 !important;
}

.myprofile-box {
	position: relative;
	display: block;
}
.myprofile-box-edit {
	position: relative;
	display: block;
}
.myprofile-box .myprofile {
	list-style: none;
	margin: 0;
	padding: 0;
}
.myprofile-box .myprofile li {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.myprofile-box .myprofile .myprofile-col h4 {
	font-size: 16px;
	margin-right: 10px;
}
.sidebar-submenu.collapse.active {
	display: block;
}
.sidebar-menu-label.active[aria-expanded="false"] .caret-hide {
	display: block;
}
.sidebar-menu-link.active[aria-expanded="false"] .caret-show {
	display: none;
}

/* = Dashboard order history
------------------------------------------------------------ */
.myorder-box {
	position: relative;
	display: block;
}
.myorder-box-detail {
	position: relative;
	display: block;
}
.myorder-box .filter-mjk-group-box {
	padding: 10px 0 10px;
}

.myorder-history{}
.myorder-history{}
.myorder-history ul{
	padding: 0;
	margin: 0;
}
.myorder-history li{
	padding: 20px 0 20px;
	border-bottom: 1px solid #dddddd;
}
.myorder-history li:last-child{
	border-bottom: none;
}
.myorder-history-record-item{
	display: table;
	vertical-align: top;
	width: 100%;
}
.myorder-history-record-item .mhri-col{
	display: table-cell;
	vertical-align: top;
	text-align: left;
}
.myorder-history-record-item .mhri-col:nth-child(1){
	width: 200px;
}
.myorder-history-record-item .mhri-col:nth-child(2){
	width: auto;
	padding: 0 15px 0;
}
.myorder-history-record-item .mhri-col:nth-child(3){
	width: 150px;
}
.myorder-history-record-item .mhri-col h4{
	font-size: 16px;
	margin: 0 0 20px 0;
	font-weight: 300;
}
.myorder-history-record-item .mhri-col p{
	margin: 0;
	font-weight: 600;
}

.id-order {
	background-color: #ffffff;
	border: 1px solid #151515;
	margin-bottom: 25px;
	padding: 10px 15px 10px 15px;
	width: 230px;
	text-align: center;
}
.id-order p {
	margin-bottom: 0;
}

/* = Dashboard address
------------------------------------------------------------ */
.form-address {
	position: relative;
	display: block;
}
.form-address {
	padding-bottom: 15px;
	margin-bottom: 15px;
}

/* = Modal Newsletter
------------------------------------------------------------ */
.welcomedialog-content .modal-header {
	padding: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.welcomedialog-content.modal-content {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.welcomedialog-content .modal-body {
	padding: 30px 40px 30px;
	background-color: #f5f5f5;
}
.modal-body .form-group-mjk label.error {
	font-size: 11px;
}

/* = Quick Cart
------------------------------------------------------------ */
.cart-group-box {
}
.cart-group-box.open .cart-group-overlay {
	position: fixed;
	top: 0;
	z-index: 1030;
	right: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.58);
}
.cart-group {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	right: -300px;
	z-index: 1035;
	opacity: 0;
	background-color: #f5f5f5;
	width: 350px;
	height: 100%;
	float: right;
	padding: 30px 30px 30px 30px;
	-webkit-animation-name: fadeOutRight;
	animation-name: fadeOutRight;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.cart-group-box.open .cart-group {
	right: 0;
	visibility: visible;
	opacity: 1;
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
}
.cart-group-head {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-bottom: 25px;
}
.cart-group-body {
	position: relative;
	display: block;
	height: 65vh;
	overflow-y: scroll;
}
.cart-group-body-item {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	border-bottom: 1px solid #ddd;
	padding-bottom: 25px;
	margin-bottom: 25px;
}
.cart-group-body-item:last-child {
	border-bottom: 1px solid transparent;
}
.cart-group-body-item .cart-item-img {
	position: relative;
	display: block;
	width: 230px;
	padding-right: 15px;
}
.cart-group-body-item .cart-item-desc {
	position: relative;
	display: block;
	width: 100%;
}
.cart-group-body-item .cart-item-img img {
	width: 120px;
	height: 145px;
	object-fit: cover;
}
.cart-item-desc .cart-item-desc-product {
	height: 85px;
}
.cart-item-desc .cart-item-desc-product h3 {
	font-size: 14px;
}
.cart-item-desc .cart-item-desc-product p {
	font-size: 12px;
}
.cart-item-desc .cart-item-desc-price {
	margin-bottom: 20px
}
.cart-item-desc .cart-item-desc-price h4 {
	font-size: 14px;
}
.cart-item-desc-action {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}
.cart-item-desc-action .spinner-number-item button[type="button"] {
	background-color: transparent;
}
.cart-item-desc-action .cart-item-delete a {
	color: #777777;
}
.cart-group-bottom {
	position: relative;
	display: block;
}
.cart-group-bottom-total {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	margin-bottom: 15px;
	padding-top: 10px;
}
.cart-group-bottom-total h3 {
	font-size: 16px;
}
.cart-group-bottom-btn {
	margin-bottom: 15px;
}

.cart-group-empty-box {
	display: none;
	padding: 15px 15px 15px;
}
.cart-group-empty-box.show {
	display: block;
}