/*!
* PT. IMAJIKU CIPTA MEDIA
* Copyright 2019-2020 IMAJIKU.
*/

/* =Navbar Header
-------------------------------------------------------------*/
.modal-open .navbar {
	padding-right: 0 !important;
}
.navbar{
	background-color: #ffffff;
	height: auto;
	padding: 0;
	transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
}
.navbar-brand {
	margin: 0 auto;
	padding: 0;
}
.navbar-brand img{
	display: block;
	width: auto;
	height: 46px;
	transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
}
.navbar-brand:hover img{
	transform: scale3d(0.9,0.9,0.9);
	-webkit-transform: scale3d(0.9,0.9,0.9);
	-moz-transform: scale3d(0.9,0.9,0.9);
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
.navbar-expand-lg .navbar-nav .nav-link{
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	padding-right: 30px;
}
.navbar .navbar-nav .nav-item{
	height: auto;
	display: flex;
	align-items: center;
	text-align: center;
	transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
}
.navbar .navbar-nav .nav-link{
	color: #333333;
	line-height: 18px;
	padding: 0 20px 0;
	transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
}
.navbar .navbar-nav .nav-item:active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link{
	color: #ab894b;
}
.navbar .navbar-nav .nav-link:hover{
	color: #ab894b;
}
.navbar .navbar-nav .nav-item:hover .nav-link{
	color: #ab894b;
}
.navbar .navbar-nav .nav-item:hover .caret-mjk-box .caret-mjk-desktop i {
	color: #ab894b;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: #ffffff;
}
.navbar-mjk-head .navbar-nav .nav-link:focus,
.navbar-mjk-head .navbar-nav .nav-link:hover {
	color: #333333;
}
.navbar .navbar-nav .nav-item:hover .nav-link .badges-bell .badges-balloon {
	color: #ab894b;
}
.navbar .navbar-collapse{
	justify-content: space-between;
	flex-direction: column;
}

/* navbar dropdown set show if hover*/
.navbar .dropdown:hover>.dropdown-menu {
	display: block;
}
.navbar .dropdown>.dropdown-toggle:active {
	pointer-events: none;
}

/* navbar dropdown*/
.navbar .dropdown-menu{
	margin: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-color: #ffffff;
	animation-name: fadeInUp;
	-webkit-animation-name: fadeInUp;
	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
}
.navbar .dropdown-item{
	color: #333333;
	font-size: 12px;
	padding: 8px 15px 8px;
	text-transform: uppercase;
}
.navbar .dropdown-item:active,
.navbar .dropdown-item.active{
	color: #ab894b;
	background-color: transparent;
}
.navbar .dropdown-item:hover{
	color: #ab894b;
}

/*navbar dropdown submenu*/
.navbar .dropdown-submenu {
	position: relative;
}
.navbar .dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: 0;
	margin-left: 0;
}
.navbar .dropdown-submenu:hover > .dropdown-menu {
	display: block;
}

/*navbar top*/
.navbar-mjk-top{
	display: block;
	width: 100%;
	height: 40px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	background: rgb(173,138,90);
	background: radial-gradient(circle, rgba(173,138,90,1) 0%, rgba(223,204,179,1) 100%);
	background: -webkit-radial-gradient(circle, rgba(173,138,90,1) 0%, rgba(223,204,179,1) 100%);
	background: -moz-radial-gradient(circle, rgba(173,138,90,1) 0%, rgba(223,204,179,1) 100%);	
}
.navbar-mjk-top .navbar-nav{
	display: flex;
	align-items: center;
}
.navbar-mjk-top .navbar-nav li{
	display: block;
	width: 100%;
	padding: 10px;
	text-align: center;
}
.navbar-mjk-top .navbar-nav h4{
	color: #ffffff;
	margin: 0;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
}
.navbar-mjk-top.hide-for-desktop{
	display: none;
}


/*navbar head / on middle*/
.navbar-mjk-head{
	display: block;
	width: 100%;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.navbar-mjk-head .navbar-nav{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 125px;
	width: 100%;
}
.navbar-mjk-head .navbar-nav-box{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.navbar-mjk-head .navbar-nav:nth-child(1){
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.navbar-mjk-head .navbar-nav:nth-child(2){
	display: flex;
	align-items: center;
	justify-content: center;
}
.navbar-mjk-head .navbar-nav:nth-child(3){
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.navbar-mjk-head .navbar-nav .nav-link{
	padding: 10px 20px 10px;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
}

/*navbar mainmenu / on bottom*/
.navbar-mjk-mainmenu{
	width: 100%;
	background-color: #000000;
	height: 40px;
}
.navbar-mjk-mainmenu .navbar-nav{
	justify-content: space-between;
}
.navbar-mjk-mainmenu .navbar-nav li:first-child .nav-link{
	padding-left: 0;
}
.navbar-mjk-mainmenu .navbar-nav .nav-link{
	color: #ffffff;
	padding: 0 20px 0;
	line-height: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 13px;
}

/*navbar sticky*/
header.sticky .navbar {
	height: auto;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
header.sticky .navbar-brand img {
	height: 35px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
header.sticky .navbar .navbar-nav .nav-item{
	height: auto;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
header.sticky .navbar .navbar-nav .nav-link{
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
header.sticky .search-body {
	height: 60px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
header.sticky .search-body input,
header.sticky .search-body input[type="text"] {
	top: 10px;
}
header.sticky .search-body .close{
	top: 15px;
}
header.sticky .navbar-mjk-top{
	opacity: 0;
	visibility: hidden;
	height: 0;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
header.sticky .navbar-mjk-head .navbar-nav{
	height: 60px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}


/*hamburger*/
.navbar-toggler,
.navbar-light .navbar-toggler,
.navbar-dark .navbar-toggler{
	border:none;
	background: transparent;
	margin: 0 0 0 5px;
	height: 33px;
	width: 50px;
	padding:  0 5px 0 11px;
	position: relative;
	top: 14px;
}
.navbar-toggler .icon-bar{
	display: block;
	width: 26px;
	height: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background-color: #d9bb84;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	margin-top: 4px
}
.navbar-toggler:hover .icon-bar{
	background-color: #d9bb84;
}
.navbar-toggler .top-bar {
	margin-top: 0;
}
.navbar-toggler[aria-expanded="true"]{
	padding-left: 11px;
}
.navbar-toggler[aria-expanded="true"] .top-bar {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform-origin: 10% 10%;
	-webkit-transform-origin: 10% 10%;
	-moz-transform-origin: 10% 10%;
}
.navbar-toggler[aria-expanded="true"] .middle-bar {
	opacity: 0;
}
.navbar-toggler[aria-expanded="true"] .bottom-bar {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform-origin: 10% 90%;
	-webkit-transform-origin: 10% 90%;
	-moz-transform-origin: 10% 90%;
}
.navbar-toggler[aria-expanded="false"] .top-bar {
	transform: rotate(0);
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
}
.navbar-toggler[aria-expanded="false"] .middle-bar {
	opacity: 1;
}
.navbar-toggler[aria-expanded="false"] .bottom-bar {
	transform: rotate(0);
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
}

/*search*/
.btn-search{}
.btn-search i{
	font-size: 16px;
}
.search-body {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 165px;
	background-color: #000000;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);    
	opacity: 0;
	display: none;
}
.search-body.open {
	-webkit-transform: translate(0px, 0px) scale(1, 1);
	-moz-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
	opacity: 1;
	z-index: 9999;
	display: block;
}
.search-body input,
.search-body input[type="text"] {
	position: absolute;
	top: 70px;
	left: 0;
	right: 0;
	width: 50%;
	margin: 0 auto;
	color: #ffffff;
	background: transparent;
	border-top: none;
	border-bottom: 2px solid #ffffff;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	outline: none;
	padding: 5px;
	-webkit-animation-name: slideInDown;
	animation-name: slideInDown;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.search-body .close {
	position: absolute;
	top: 30px;
	right: 40px;
	width: 30px;
	height: 30px;
	text-align: center;
	background-color: transparent !important;
	opacity: 0.6;
}
.search-body .close i{
	display: block;
	color: #ffffff;
	font-size: 18px;
	line-height: 30px;
	position: relative;
}
.search-body .close:hover{
	cursor: pointer;
	opacity: 1;
}

/*button caret for dropdown*/
.navbar .caret-mjk-box{
	display: inline-block;
	padding: 0;
	margin: 0;
	position: relative;
	height: 22px;
	right: 14px;
}
.navbar .dropdown-submenu .caret-mjk-box{
	display: block;
	padding: 0;
	margin: 0;
	position: absolute;
	height: 28px;
	top: 5px;
	right: 7px;
}
.navbar .caret-mjk-box.dropdown-toggle:after{
	display: none;
}
.navbar .caret-mjk-box .caret-mjk-desktop{
	display: block;
}
.navbar .caret-mjk-box .caret-mjk-mobile{
	display: none;
}
.navbar .caret-mjk-box .caret-mjk-desktop{
	text-align: right;
}
.navbar .caret-mjk-box .caret-mjk-desktop i{
	font-size: 12px;
	/*color: #ab894b;*/
	color: #f5f5f5;
}

/*baloon*/
.badges-bell-box{
	position: relative;
}
.badges-bell{
	position: relative;
}
.badges-bell i{
	font-size: 13px;
	display: inline-block;
	vertical-align: middle;
}
.badges-bell .badges-balloon{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 0 0 0 5px;
	color: #333333;
	text-align: left;
	font-size: 14px;
}

/*reorder*/
.reorder i{
	font-size: 13px;
}

/*notification*/
.notification-box{
	left: -65px;
	padding: 0;
}
.notification{
	display: block;
	width: 280px;
	height: 400px;
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0 2px 0;
	margin-bottom: 10px;
}
.notification .notification-sortby{
	display: block;
	padding: 5px;
	background-color: #f2f2f2;
	text-align: left;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}
.notification .notification-sortby h2{
	color: #888888;
	font-size: 12px;
	line-height: 16px;
	margin: 0;
}
.notification .notification-list-box{}
.notification .notification-list{
	list-style: none;
	padding: 0;
	margin: 0;
}
.notification .notification-list li{
	display: block;
	padding: 5px;
	background-color: #ffffff;
	border-bottom: 1px solid #f3f3f3;
	min-height: 40px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.notification .notification-list li:hover{
	background-color: #FED59A;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.notification .notification-list li:hover .notification-item-img i,
.notification .notification-list li:hover .notification-item-desc h4,
.notification .notification-list li:hover .notification-item-desc p{
	color: #333333;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.notification .notification-list-box.newest .notification-list li{
	background-color: #FFE1D2;
}
.notification .notification-list-box.earlier .notification-list li{}

.notification .notification-item {
	display: table;
	width: 100%;
}
.notification .notification-item-img {
	display: table-cell;
	vertical-align: top;
	width: 30px;
	text-align: center;
}
.notification .notification-item-img i{
	margin-top: 3px;
	font-size: 12px;
	color: #999999;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.notification .notification-item-desc {
	display: table-cell;
	vertical-align: middle;
	width: auto;
	text-align: left;
	padding-left: 10px;
}
.notification .notification-item-desc h4{
	font-size: 13px;
	line-height: 16px;
	margin: 0;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
.notification .notification-item-desc p{
	color: #999999;
	font-size: 10px;
	line-height: 14px;
	margin: 0;
}

/*megamenu*/
.megamenu{
	position: static;
}
.megamenu .megamenu-dropdown{
	width: 100%;
	border: none;
	background-color: transparent;
	padding: 0;
}
.megamenu .megamenu-body{
	background-color: #ffffff;
	padding: 15px 20px 15px;
	height: 300px;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}
.megamenu .megamenu-content-list{
	margin-bottom: 20px;
}
.megamenu .megamenu-content-list h3{
	font-size: 16px;
	font-weight: bold;
	padding: 0 15px 0;
}
.megamenu .megamenu-content-list ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.megamenu .megamenu-content-list li{}
.megamenu .megamenu-content-list .megamenu-content-img{
	display: block;
	width: auto;
	height: 180px;
	margin: 30px auto 30px;
}
.megamenu .megamenu-content-list .megamenu-content-img img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}
