/*!
* PT. IMAJIKU CIPTA MEDIA
* Copyright 2019-2020 IMAJIKU.
*/


/* Desktop First Design */

/* Larger Devices, Wider Screens */
@media only screen and (min-width : 1700px) {
	
}

@media (min-width : 1500px) and (max-width: 1700px) {
	
}

@media only screen and (min-width : 1367px) {

}

@media only screen and (max-width : 1367px) {
	/*cart group*/
	.cart-group-body {
		height: 55vh;
	}
	.cart-group-body-item .cart-item-img img {
		width: 100px;
		height: 125px;
	}
	.cart-item-desc .cart-item-desc-product {
		height: 70px;
	}
	.cart-group-body-item .cart-item-img {
		width: 180px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1200px) {
	/*filter product sidebar*/
	.filter-sidebar-box {
		padding-top: 70%;
	}

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width : 1024px) {
	
}

@media only screen and (max-width : 1024px) {
	/*navbar*/
	.navbar .navbar-nav .nav-link {
		font-size: 12px;
	}
	.megamenu .megamenu-content-list h3 {
		font-size: 12px;
	}
	.megamenu .dropdown-item {
		font-size: 12px;
	}

	/*home*/
	/*hero slider*/
	.home-hero .home-hero-caption h1 {
		font-size: 32px;
	}
	/*banner home*/
	.about-banner .about-banner-caption h1 {
		font-size: 32px;
	}
	/*modal*/
	.modal-dialog {
		max-width: 430px;
		margin: 0 auto;
	}
	/*card-product*/
	.card-product-desc h3 {
		font-size: 14px;
	}
	.card-product-desc p {
		font-size: 13px;
	}
	.card-product-action-item h4 {
		font-size: 12px;
	}

	/*detail-product*/
	.product-desc-title h3 {
		font-size: 21px;
	}
	.product-desc-title p {
		font-size: 13px;
	}
	.price-discount h3 {
		font-size: 18px;
	}
	.price-now h3 {
		font-size: 18px;
	}
	.nav-pills .nav-link {
		font-size: 14px;
		padding: 15px 12px 15px 12px;
	}
	.product-desc-tab .nav-pills .nav-link.active,
	.product-desc-tab .nav-pills .show > .nav-link {
		font-size: 14px;
	}
	.product-tab-detail p {
		font-size: 13px;
		line-height: 23px;
	}
	.product-tab-detail ul li {
		font-size: 13px;
		line-height: 23px;
	}
	.product-slider-nav .product-img-thumb {
		width: 80px;
		height: 80px;
		padding: 8px;
	}
	.option-amount .spinner-number-item input {
		min-width: 100px;
	}

	/*checkout*/
	.order-summary .voucher-code-value .promo-code-result p {
		font-size: 12px;
	}
	.shipper-selection .select-mjk-box {
		height: 42px;
	}
	.shipper-selection .select-mjk-box .select2-container--default .select2-selection--single {
		margin-top: -2px;
	}


	/*the world of sada*/
	.video-hero {
		height: 500px;
	}

	/*footer*/
	.foo-menu h3, .foo-address h3, .foo-subscribe h3 {
		font-size: 13px;
	}
	.foo-menu li a, .foo-address li a {
		font-size: 12px;
	}
	.foo-subscribe p {
		font-size: 12px;
	}
	.social-network li i {
		font-size: 16px;
	}

	/*event detail*/
	.content-event h3 {
		font-size: 21px;
		line-height: 28px;
	}
	.content-event {
		height: 352px;
	}

}

@media only screen and (max-width : 992px) {

}

/* Start mobile responsive */
@media only screen and (max-width : 991px) {

	/*navbar*/
	.navbar-brand {
		display: flex;	
	}
	.navbar-brand img {
		margin: 0 auto;
	}
	.navbar-mjk-top .navbar-nav h4 {
		font-size: 12px;
	}
	.btn-group.bootstrap-select.select-language.nav-link.fit-width.show {
		top: 0px;
	}
	.sidebar-menu-box .sidebar-menu-title .navbar-toggler {
		border: 1px solid #d9bb84;
	}
	.sidebar-menu-box > ul {
		top: 57px;
	}
	.sidebar-menu-box .navbar-toggler[aria-expanded="true"] {
		padding-left: 15px;
	}
	.sidebar-menu-box .sidebar-menu-title {
		margin-bottom: 50px;
	}
	.sidebar-menu-box .sidebar-menu-title h3 {
		padding-top: 20px;
		margin-top: 10px;
		font-weight: 500;
		display: block !important;
	}

	/*title*/
	.title-primary h2 {
		font-size: 18px;
	}

	/*section*/
	.section-top {
		margin-top: 80px;
	}

	.divider-xs {
		position: relative;
		display: block;
		width: 100%;
		border-bottom: 1px solid #ccc;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	/*filters product sidebar*/
	.filter-fine-mobile{
		display: flex;
		flex-direction: column;
		padding-top: 35px;
	}
	.filter-sidebar-box{
		display: none;
		opacity: 0;
	}
	.filter-sidebar-box.open .close{
		display: block;
		position: absolute;
		top: 10px;
		right: 15px;
		padding: 0;
		margin: 0;
		height: 40px;
		width: 40px;
		line-height: 38px;
		text-align: center;
	}
	.filter-sidebar-box.open .close i{
		font-size: 17px;
	}
	.filter-sidebar-box.open{
		display: block;
		padding: 60px 40px 60px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: #f5f5f5;
		z-index: 1200;
		animation-name: fadeInUp;
		-webkit-animation-name: fadeInUp;
		animation-duration: 0.5s;
		-webkit-animation-duration: 0.5s;
		opacity: 1;
	}
	.filter-sidebar-box.open .filter-sidebar{
		display: block;
		padding: 0 15px 0 5px;
		width: 100%;
		height: 98%;
		overflow-x: hidden;
		overflow-y: auto;
		-moz-overflow-scrolling: touch;
		-webkit-overflow-scrolling: touch;
	}
	.filter-sidebar-box.open .filter-sidebar .sidebar-product{
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid #dddddd;
	}
	.filter-sidebar-box.open .filter-sidebar .title-secondary-mjk h2{
		font-size: 18px;
	}
	.filter-sidebar-box.open .filter-sidebar .title-secondary-mjk h3{
		font-size: 20px;
	}
	.filter-product-for-desktop{
		display: none;
	}
	.filter-product-for-mobile{
		display: block;
	}
	.filter-product .filter-mjk-group .select-mjk-group{
		padding-left: 0;
		padding-right: 0;
	}
	.filter-brand-action {
		display: block;
	}
	/*home*/
	.home-hero .home-hero-caption h1 {
		font-size: 26px;
	}
	.home-hero .home-hero-caption {
		bottom: 25%;
	}
	.title-primary h1 {
		font-size: 21px;
	}
	.about-banner .about-banner-caption h1 {
		font-size: 26px;
	}

	/*button*/
	.btn-mjk {
		padding: 7px 35px 7px;
		font-size: 12px;
	}

	/*detail-product*/
	.produk-slider-box .product-slider img {
		height: 400px;
	}
	.product-desc-box {
		padding: 0;
	}

	/*checkout*/
	.billing-address-action a, .billing-address-action i {
		font-size: 12px;
	}
	.modal-edit-address .modal-title {
		font-size: 21px;
	}

	/*cart*/
	.cart-amount-action {
		padding: 15px 0 0;
		margin-bottom: 0;
	}

	/*cart group*/
	.cart-group {
		overflow-y: scroll;
	}

	/*event detail*/
	.content-event {
		height: 265px;
	}
	.content-event h3 {
		font-size: 16px;
		line-height: 21px;
		min-height: 120px;
	}

	/*the world of sada*/
	.video-hero {
		height: 450px;
	}

}

/* Small Devices, Desktops */
@media only screen and (max-width : 812px) {
	/*the world of sada*/
	.video-hero {
		height: 440px;
	}

}

@media only screen and (max-width : 768px) {
	/*cart*/
	.cart-item .td-col:nth-child(1) {
		height: 75px;
	}
	.cart-item .cart-item-img {
		height: 135px;
		width: 100px;
	}

	/*the world of sada*/
	.video-hero {
		height: 350px;
	}
	.video-hero .video-hero-caption h1 {
		font-size: 31px;
	}
	.video-hero .video-hero-caption p {
		font-size: 14px;
	}


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 767px) {
	/*product*/
	.product-concern .list-inline-item:nth-child(-n+3) .product-concern-item::after {
		border-right: 1px solid transparent
	}

	/*detail-product*/
	.product-desc-box {
		padding-top: 30px;
	}
	.produk-slider-box .product-slider img {
		height: 600px;
	}

	/*faq*/
	.filter-search .filter-mjk-group {
		flex-direction: row;

	}

	/*our formula*/
	.quotes-article blockquote {
		width: 100%;
	}

	/*the world of sada*/
	.card-article-desc-item h3 {
		font-size: 14px;
	}
	.card-article.card-event .card-article-desc {
		padding: 20px;
	}
	.card-article-desc-action .btn-mjk {
		padding: 8px 17px 8px;
	}
	.card-article.card-event .card-article-time p {
		font-size: 12px;
	}
	.card-article.card-event .card-article-time h4 {
		font-size: 26px;
	}
	.card-article.card-event .card-article-time {
		margin-right: 15px;
	}

	
}

@media only screen and (max-width : 640px) {
	/*home*/
	.home-hero {
		background-color: #ffffff;
	}
	.home-hero .home-hero-caption {
		position: relative;
		bottom: 0;
		left: 0;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.title-primary h1 {
		font-size: 18px;
	}
	.title-primary p {
		font-size: 12px;
	}
	.about-banner .about-banner-caption h1 {
		font-size: 21px;
	}

	/*button*/
	.btn-mjk {
		font-size: 12px;
	}

	/*dashboard my order*/
	.myorder-history-record-item .mhri-col:nth-child(1) {
		width: 100%;
	}
	.myorder-history-record-item .mhri-col {
		display: block;
		margin-bottom: 15px;
	}
	.myorder-history-record-item .mhri-col:nth-child(2) {
		padding: 0;
	}

	/*the world of sada*/
	.video-hero {
		height: 350px;
	}


}

@media only screen and (max-width : 575px) {
	/*faq*/
	.filter-search .form-row > .col, .form-row > [class*="col-"] {
		padding-left: 0;
	}
	.filter-search .btn {
		width: 100%;
		margin-top: 10px;
	}


	/*the world of sada*/
	.video-hero {
		height: 300px;
	}
}

@media only screen and (max-width : 480px) {
	/*navbar*/
	.navbar-mjk-top .navbar-nav h4 {
		line-height: 14px;
	}

	/*home*/
	.product-categories-img {
		width: 100%;
	}
	.about-banner {
		background-color: #ffffff;
	}
	.about-banner .about-banner-caption {
		position: relative;
		bottom: 0;
		left: 0;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.about-banner .about-banner-caption h1 {
		color: #151515;
	}

	/*title*/
	.title-primary h2 {
		font-size: 18px;
	}
	.quotes-article h3 {
		font-size: 14px;
	}

	/*button*/
	.btn-mjk {
		font-size: 11px;
		padding: 8px 30px 8px;
	}
	.btn-youtube i {
		font-size: 40px;
	}
	.btn-youtube {
		top: 35%;
	}

	/*product*/
	.card-product-action-item {
		align-items: center;
		flex-direction: column;
	}
	.card-product-action-item h4 {
		margin-bottom: 5px;
		margin-top: 5px;
	}
	.product-concern .product-concern-item img {
		width: 50px;
	}
	.product-concern .product-concern-item {
		width: 135px;
	}
	.featured-filter label span {
		display: block;
		font-size: 12px;
	}

	/*detail-product*/
	.produk-slider-box .product-slider img {
		height: 400px;
	}
	.option-shade {
		padding: 3px 15px 3px;
	}
	.option-amount {
		padding: 10px 15px 10px;
	}
	.option-amount .spinner-number-item input {
		min-width: 100px;
	}

	/*cart*/
	.cart-item .td-col:nth-child(1) {
		width: 80px;
		height: 50px;
	}
	.cart-item .cart-item-img {
		height: 100px;
		width: 80px;
	}
	.cart-item p {
		font-size: 14px;
	}
	.cart-item h4 {
		font-size: 12px;
		margin-top: 10px;
	}
	.cart-item .cart-item-desc-amount > .td-col.cart-amount-subtotal {
		padding: 0;
	}
	.cart-amount {
		padding: 15px 0 5px;
	}
	.cart-amount h4 {
		font-size: 14px;
	}
	.myorder-box-detail .cart-for-checkout .cart-item .cart-item-desc-amount {
		width: 100%;
	}
	.myorder-box-detail .cart-item .cart-item-desc-amount {
		justify-content: flex-start;
		flex-direction: column;
	}

	/*faq*/
	.filter-search .form-row > .col, .form-row > [class*="col-"] {
		padding-left: 0;
	}
	.filter-search .btn {
		width: 100%;
		margin-top: 10px;
	}
	.faq-sidebar {
		text-align: center;
	}
	.faq-sidebar .nav-link {
		display: inline-block;
	}
	.faq-sidebar .nav-link.active {
		padding-left: 12px;
	}

	/*the world of sada*/
	.video-hero {
		height: 100%;
	}
	.video-hero .video-content {
		height: 100%;
	}
	.video-hero .video-hero-caption {
		position: relative;
		bottom: 0;
		padding: 10px 0 10px;
	}
	.video-hero .video-hero-caption h1 {
		font-size: 26px;
	}
	.video-hero .video-hero-caption p {
		font-size: 12px;
	}
	.card-article.card-horizontal {
		flex-direction:column;
		margin-bottom: 15px;
	}
	.card-article.card-horizontal .card-article-img {
		width: 100%;
		height: 100%;
	}
	.card-article.card-horizontal .card-article-content {
		padding-top: 10px;
	}


	/*cart group*/
	.cart-group {
		width: 100%;
	}

}

@media only screen and (max-width : 375px) {
	/*product*/
	.product-concern .list-inline-item:not(:last-child) {
		margin-right: 0;
	}
	.product-concern .list-inline li {
		padding-right: 0;
	}

	/*cart*/
	.cart-item .td-col:nth-child(1) {
		height: 10px;
	}
	.cart-amount-action {
		flex-direction: column;
	}
	.cart-amount-action .btn {
		margin-bottom: 10px;
		width: 100%;
	}

	/*checkout*/
	.shipper-selection .select-mjk-box {
		min-width: 250px;
	}
}

@media only screen and (max-width : 320px) {
	/*navbar*/
	.navbar-mjk-top .navbar-nav h4 {
		font-size: 10px;
	}
	/*.navbar-mjk-top {
		height: 43px;
	}
	header.sticky .navbar-mjk-top, .sticky .navbar-mjk-top {
		height: 43px;
	}
	header.sticky .navbar, .navbar {
		height: 100px;
	}
	.navbar-brand {
		top: 55px;
	}
	.badges-bell-box {
		top: 50px;
		}*/

		/*home*/
		.home-hero .home-hero-caption h1 {
			font-size: 23px;
		}
		/*cart*/
		.cart-group {
			width: 320px;
		}
		/*detail-product*/
		.product-slider-nav .product-img-thumb {
			padding: 12px;
		}

		/*faq*/
		.filter-search .input-group-text {
			padding: 17px 10px 17px;
			font-size: 12px;
		}
		.filter-search .form-control {
			font-size: 12px;
		}
		.filter-search .form-control {
			margin-right: 5px;
		}
	}