/*!
* PT. IMAJIKU CIPTA MEDIA
* Copyright 2019-2020 IMAJIKU.
*/


/* Desktop First Design */

/* Larger Devices, Wider Screens */
@media only screen and (min-width : 1700px) {
	
}

@media (min-width : 1500px) and (max-width: 1700px) {
	
}

@media only screen and (min-width : 1367px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1200px) {
	
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width : 1024px) {
	
}

@media only screen and (max-width : 1024px) {
	/* =Hero Slider
	------------------------------------------------------------ */
	.hero-slider div .hero-slider-caption h1,
	.hero-slider div .hero-slider-caption h2{
		font-size: 40px;
		line-height: 40px;
	}
	.hero-slider div .hero-slider-caption {
		left: 70px;
	}
}
@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 991px) {

	/* =General
	------------------------------------------------------------ */
	.hide-for-desktop{
		display: block;
	}
	.hide-for-mobile{
		display: none;
	}

	/* =Sidebarmenu
	------------------------------------------------------------ */
	.sidebar-menu-box .sidebar-menu-title{
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.sidebar-menu-box .sidebar-menu-title .navbar-toggler{
		display: block;
		margin: 0 10px 0 0;
		height: 40px;
		border: 1px solid #f98341;
	}
	.sidebar-menu-box .sidebar-menu-title h3 {
		font-size: 18px;
	}
	.sidebar-menu-box > ul.collapse{
		display: none;
	}
	.sidebar-menu-box > ul{
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		background-color: #ffffff;
		z-index: 10;
		box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
		-webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
		-moz-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
	}
	.sidebar-menu-box{
		padding: 0;
		margin-bottom: 30px;
	}
	.sidebar-menu-link{
		font-size: 15px;
	}

	/* =Hero Slider
	------------------------------------------------------------ */
	.hero-slider div .hero-slider-caption h1,
	.hero-slider div .hero-slider-caption h2{
		font-size: 30px;
		line-height: 30px;
	}
	.hero-slider div .hero-slider-caption {
		left: 70px;
	}

	/* =Cart
	------------------------------------------------------------ */
	.cart-box{
		overflow: auto;
	}
	.cart{
		min-width: 940px;
	}

}

/* Small Devices, Desktops */
@media only screen and (max-width : 812px) {

}

@media only screen and (max-width : 768px) {
	
	/* =Sidebarmenu
	------------------------------------------------------------ */
	.sidebar-menu-box h3{
		font-size: 18px;
	}

	/* =Cart
	------------------------------------------------------------ */
	.cart-hideformobile{
		display: none !important;
	}
	
	/*checkout*/
	.cart-body-checkout{
		background-color: #ececec !important;
		padding-bottom: 200px !important;
	}
	.cart-box{
		overflow: visible;
	}
	.cart{
		min-width: auto;
	}
	.cart .cart-tbody{
		position: relative;
		padding: 0;
		margin-bottom: 10px;
	}

	.cart-item h3{
		font-weight: 500;
		font-size: 14px;
		width: 90%;
	}
	.cart-item .td-col:nth-child(1){
		width: 145px;
	}
	.cart-item .td-col:nth-child(2){
		padding: 10px;
	}
	.cart-item .cart-item-desc-box{
		height: auto;
	}
	.cart-item .cart-item-img{
		height: 145px;
		width: 145px;
	}
	.cart-item .cart-item-desc{
		display: block;
		padding-left: 0;
	}
	.cart-item .cart-item-desc-amount{
		display: block;
		width: auto;
		padding-top: 10px;
	}
	.cart-item .cart-item-desc-amount > .td-col:nth-child(1),
	.cart-item .cart-item-desc-amount > .td-col:nth-child(2),
	.cart-item .cart-item-desc-amount > .td-col:nth-child(3){
		width: auto;
	}
	.cart-item .cart-item-desc-amount > .td-col.cart-amount-quantity{
		float: right;
		text-align: right;
	}
	.cart-item .cart-item-desc-amount > .td-col.cart-amount-price{
		display: none;
	}
	.cart-item .cart-item-desc-amount > .td-col.cart-amount-subtotal{
		float: left;
		text-align: left;
	}
	.cart-item .cart-item-desc-amount > .td-col.cart-amount-subtotal p{
		font-weight: 700;
		line-height: 30px;
		font-size: 14px;
	}
	.cart-item .td-col.cart-item-action{
		position: absolute;
		width: 50px !important;
		height: 40px;
		top: 0;
		right: 0;
		text-align: center;
		line-height: 40px;
	}

	.button-proceed-checkout-box{
		/*display: block;*/
	}

	/*versi review*/
	.cart-for-review .cart-item h3{
		width: 100%;
	}
	.cart-for-review .cart-item .cart-item-desc-amount{
		text-align: right;
		padding-top: 0;
	}
	.cart-for-review .cart-item .cart-item-desc-amount p{
		line-height: 18px;
	}
	.cart-for-review .cart-item .cart-item-desc-amount > .td-col.cart-amount-quantity{
		float: none;
		display: inline-block;
		padding-right: 20px;
		position: relative;
	}
	.cart-for-review .cart-item .cart-item-desc-amount > .td-col.cart-amount-quantity:after{
		content: "x";
		display: block;
		position: absolute;
		top: 0;
		right: 5px;
		font-size: 14px;
		line-height: 18px;
	}
	.cart-for-review .cart-item .cart-item-desc-amount > .td-col.cart-amount-price{
		float: none;
		display: inline-block;
		padding: 0;
	}
	.cart-for-review .cart-item .cart-item-desc-amount > .td-col.cart-amount-subtotal{
		float: none;
		display: block;
		text-align: right;
	}

	/*versi package fixed*/
	/*.cart-for-package .cart-amount{
		position: fixed;
		width: 100%;
		left: 0;
		right: 0;
		bottom: 49px;
		background: #ffffff;
		padding: 15px;
		z-index: 80;
	}
	.cart-for-package .cart-amount li{
		padding: 5px 0 5px;
		border-bottom: none;
		justify-content: flex-end;
	}
	.cart-for-package .cart-amount li > div:first-child{
		text-align: right;
	}
	.cart-for-package .cart-amount li > div:last-child{
		width: 200px;
		text-align: right;
	}
	.cart-for-package .cart-amount li > div:first-child h4,
	.cart-for-package .cart-amount li > div:first-child p{
		margin: 0;
		font-size: 12px;
		color: #999999;
	}
	.cart-for-package .cart-amount li > div:last-child h4,
	.cart-for-package .cart-amount li > div:last-child p{
		margin: 0;
		font-size: 13px;
		font-weight: 600;
	}
	.cart-for-package .cart-amount li > div > h4{
		line-height: 20px;
	}
	.cart-for-package .cart-amount .grand-total-value h4{
		font-size: 17px !important;
	}
	.cart-for-package .cart-amount .voucher-code-value .input-group{
		padding-left: 20px;
	}
	.cart-for-package .cart-amount-action{
		display: none;
		}*/
	}

	/* Extra Small Devices, Phones */
	@media only screen and (max-width : 767px) {

	/* =Banner
	------------------------------------------------------------ */
	.banner-top {
		height: 250px;
	}
	.banner-top img {
		height: 250px;
	}
	.banner-caption {
		bottom: 23%;
	}
	.banner-caption h3 {
		font-size: 20px;
	}

	/* =Breadcrumb
	------------------------------------------------------------ */
	.breadcrumb {
		flex-direction: column;
	}
	.breadcrumb .breadcrumb-item {
		padding-left: 0;
	}
	.breadcrumb .breadcrumb-item {
		padding-left: 0;
	}
	.breadcrumb-item + .breadcrumb-item::before {
		padding-left: 0;
		padding-right: 5px;
	}
	.breadcrumb .breadcrumb-item {
		font-size: 13px;
	}

	/* =Sidebarmenu
	------------------------------------------------------------ */
	.sidebar-menu-box{
		padding: 0;
		margin-bottom: 50px;
	}

	/* =Cart
	------------------------------------------------------------ */
	.cart-hideformobile{
		display: none !important;
	}
	.cart-tbody li{
		padding-left: 0;
		padding-right: 0;
	}

	/* =Filter
	------------------------------------------------------------ */
	.filter-mjk-group-box{
		flex-direction: column;
	}
	.filter-mjk-group{
		flex-direction: column;
		width: 100%;
	}
	.filter-mjk-group .form-group{
		width: 100%;
	}
	.filter-mjk-group .select-mjk-box{
		width: 100%;
		max-width: 100%;
	}
	.filter-mjk-group-action{
		width: 100%;
	}

}

@media only screen and (max-width : 640px) {

}

@media only screen and (max-width : 575px) {

}

@media only screen and (max-width : 480px) {

	/* =Cart
	------------------------------------------------------------ */
	.cart-item .td-col:nth-child(1){
		width: 90px;
	}
	.cart-item .cart-item-img{
		width: 90px;
		height: 90px;
	}
	.cart-item h3{
		font-size: 13px;
		margin: 0;
	}
	.cart-item h4{
		font-size: 10px;
		line-height: 12px;
	}
	.cart-item p{
		font-size: 10px;
	}
	
	/*versi review*/
	.cart-for-review .cart-amount li p{
		font-size: 14px;
	}
	.cart-for-review .cart-amount li h4{
		font-size: 18px;
	}

	/*versi normal relative*/
	.voucher-code{
		max-width: 80px;
	}
	.cart-amount li p{
		line-height: 18px;
	}
	.cart-ordernote,
	.cart-amount li,
	.cart-amount-action{
		padding-left: 0;
		padding-right: 0;
	}
	.cart-amount li > div:last-child{
		text-align: right;
	}
	.cart-amount-action{
		justify-content: space-between;
	}


	/* =Hero Slider
	------------------------------------------------------------ */
	.hero-slider div .hero-slider-caption h1,
	.hero-slider div .hero-slider-caption h2{
		font-size: 20px;
		line-height: 20px;
	}
	.hero-slider div .hero-slider-caption p {
		font-size: 14px;
		line-height: 21px;
	}
	.hero-slider div .hero-slider-caption {
		left: 30px;
	}
	.hero-slider-prev, .hero-slider-next {
		width: 30px;
	}
	.hero-slider div .hero-slider-caption {
		top: 16px;
	}
	
}

@media only screen and (max-width : 375px) {

	/* =Cart
	------------------------------------------------------------ */
	.cart-item .cart-item-desc-amount{
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		align-items: flex-end;
	}
	.cart-item .cart-item-desc-amount > .td-col.cart-amount-quantity{
		order: 2;
	}
	.cart-item .cart-item-desc-amount > .td-col.cart-amount-subtotal{
		order: 1;
	}
	.cart-item .cart-item-desc-amount > .td-col.cart-amount-quantity,
	.cart-item .cart-item-desc-amount > .td-col.cart-amount-subtotal{
		float: none;
		text-align: right;
	}
	

}

@media only screen and (max-width : 320px) {
	
	/* =Cart
	------------------------------------------------------------ */
	.cart-amount li > div:last-child{
		width: 180px;
	}

}