/*!
* PT. IMAJIKU CIPTA MEDIA
* Copyright 2019-2020 IMAJIKU.
*/


/* Desktop First Design */

/* Larger Devices, Wider Screens */
@media only screen and (min-width : 1700px) {
	
}

@media (min-width : 1500px) and (max-width: 1700px) {
	
}

@media only screen and (min-width : 1367px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1200px) {

	/* =Narbar Header
	------------------------------------------------------------ */
	header.sticky .navbar-brand img,
	.navbar-brand img{
		height: 46px;
	}

	.navbar .navbar-nav .nav-link{
		padding: 0 20px 0 5px;
		font-size: 13px;
	}
}

@media only screen and (min-width: 1200px) {

	/* =Narbar Header
	------------------------------------------------------------ */
	.btn-nav-caret-simple.show{
		display: none !important;
	}

}

@media only screen and (min-width : 1024px) {
	
}

@media only screen and (max-width : 1024px) {
	
}
@media only screen and (max-width : 992px) {

}

/* Start mobile responsive */
@media only screen and (max-width : 991px) {

	/* =Narbar Header
	------------------------------------------------------------ */
	
	/*Reset dropdown hover*/
	.navbar .dropdown:hover>.dropdown-menu,
	.navbar .dropdown-submenu:hover>.dropdown-menu{
		display: none;
	}
	.navbar .dropdown-submenu:hover>.dropdown-menu.show{
		display: block;
	}
	.navbar .dropdown>.dropdown-toggle:active,
	.navbar .dropdown-submenu>.dropdown-toggle:active {
		pointer-events: auto;
	}
	.navbar .dropdown.show>.dropdown-menu,
	.navbar .dropdown-submenu.show>.dropdown-menu,
	.navbar .dropdown-submenu.show>.dropdown-menu.show{
		display: block;
	}

	.navbar-nav{
		width: 100%;
	}
	.navbar-brand{
		position: absolute;
		display: table;
		top: 40px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.navbar .navbar-nav .nav-item{
		text-align: left;
	}
	.navbar .dropdown-menu{
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		animation-name: none;
		-webkit-animation-name: none;
		padding: 0;
		border: none;
	}
	.navbar .dropdown-item{
		font-size: 14px;
	}
	.navbar .dropdown-item:focus, 
	.navbar .dropdown-item:hover{
		background-color: transparent;
	}
	.navbar-light .navbar-nav .active > .nav-link, 
	.navbar-light .navbar-nav .nav-link.active, 
	.navbar-light .navbar-nav .nav-link.show, 
	.navbar-light .navbar-nav .show > .nav-link{
		color: #ffffff;
	}
	/*hide show object*/
	.navbar-mjk-top.hide-for-desktop{
		display: block;
	}
	.navbar-mjk-top.hide-for-mobile{
		display: none;
	}

	/*dropdown submenu*/
	.navbar .dropdown-submenu > .dropdown-item{
		padding: 15px 48px 15px 15px;
		z-index: 1;
		line-height: 18px;
	}
	.navbar .dropdown-submenu .dropdown-menu .dropdown-item{
		padding: 15px 0 15px 25px;
	}

	/*navbar sticky*/
	header.sticky .navbar,
	.navbar{
		height: 80px;
	}
	header.sticky .navbar-brand img,
	.navbar-brand img{
		height: 30px;
	}
	header.sticky .navbar-mjk-top,
	.sticky .navbar-mjk-top{
		opacity: 1;
		height: 30px;
		visibility: visible;
	}
	header.sticky .navbar .navbar-nav .nav-link,
	.navbar .navbar-nav .nav-link{
		font-size: 14px;
		padding: 0 48px 0 0;
		width: 100%;
		line-height: 48px;
	}
	.navbar .navbar-nav .nav-item,
	header.sticky .navbar .navbar-nav .nav-item{
		height: auto;
		display: block;
	}
	header.sticky .navbar-mjk-head .navbar-nav,
	.sticky .navbar-mjk-head .navbar-nav{
		height: auto;
	}
	header.sticky .navbar .navbar-mjk-head .nav-item,
	.navbar .navbar-mjk-head .nav-item{
		height: 50px;
	}
	header.sticky .navbar .navbar-mjk-head .nav-link,
	.navbar .navbar-mjk-head .nav-link{
		padding: 0 15px 0;
	}

	/*move position mainmenu*/
	.navbar .navbar-collapse{
		position: fixed;
		top: 80px;
		width: 100%;
		left: -100%;
		transform: translateX(0,-100%);
		-webkit-transform: translateX(0,-100%);
		box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
		-webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
		-moz-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		justify-content: flex-start;
		height: 100%;
		background-color: #000000;
		opacity: 0;
	}
	.navbar .navbar-collapse.show{
		left: 0;
		transform: translateX(0,0);
		-webkit-transform: translateX(0,0);
		animation-name: fadeInleft;
		-webkit-animation-name: fadeInleft;
		animation-duration: 0.3s;
		-webkit-animation-duration: 0.3s;
		display: flex;
		flex-direction: column;
		opacity: 1;
	}

	/*navbar top*/
	.navbar-mjk-top{
		height: 30px;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
	}
	.navbar-mjk-top .navbar-nav{
		padding: 0;
		background-color: transparent;
	}
	.navbar-mjk-top .navbar-nav li{
		padding: 8px 10px 3px;
	}
	.navbar-mjk-top .navbar-nav h4{
		font-size: 12px;
	}

	/*navbar head*/
	.navbar-mjk-head .navbar-nav.hide-for-mobile{
		display: none;
	}
	.navbar-mjk-head .navbar-nav{
		flex-direction: row;
		height: auto;
	}
	.navbar .navbar-collapse.collapse .navbar-mjk-head{
		display: flex;
		justify-content: flex-end;
		flex-direction: row;
		margin: 0 !important;
		background-color: #ffffff;
		height: 50px;
		padding: 0 15px 0;
	}
	.navbar .navbar-collapse.collapse .navbar-mjk-head .nav-item .nav-link{
		line-height: 50px;
	}
	.navbar .navbar-collapse.collapse .navbar-mjk-head .nav-item .nav-link.select-language{
		padding: 0 !important;
		margin: 0;
	}
	.navbar .navbar-collapse.collapse .navbar-mjk-head .select-language .dropdown-toggle{
		background-color: transparent;
		border-color: transparent;
	}
	.navbar .navbar-collapse.collapse .navbar-mjk-head .nav-myaccount .nav-link{
		min-width: auto;
	}
	.navbar .navbar-collapse.collapse .navbar-mjk-head .nav-myaccount .nav-link i{
		font-size: 18px;
	}
	.navbar .navbar-collapse.collapse .navbar-mjk-head .nav-myaccount > .caret-mjk-box{
		display: none;
	}
	.navbar .navbar-collapse.collapse .navbar-mjk-head .nav-myaccount > .dropdown-toggle:after{
		display: none;
	}
	.navbar .navbar-collapse.collapse .navbar-mjk-head .nav-myaccount .caret-mjk-box{
		background-color: #f2f2f2;
		right: 15px;
	}

	/*navbar mainmenu*/
	.navbar .navbar-mjk-mainmenu{
		padding: 10px 15px 30px 15px;
		height: 100%;
		max-height: 66vh;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	/*notification*/
	.navbar .navbar-collapse.show .navbar-mjk-head .notification-box{
		position: fixed;
		width: 100vw;
		top: 100px;
		left: 0;
		animation-name: fadeInUp;
		-webkit-animation-name: fadeInUp;
		animation-duration: 0.5s;
		-webkit-animation-duration: 0.5s;
		border-bottom: 1px solid #dddddd;
	}
	.navbar .navbar-collapse.show .navbar-mjk-head .notification{
		width: 100vw;
	}
	.navbar .navbar-collapse.show .navbar-mjk-head .menuddmember-dropdown{
		position: fixed;
		width: 100vw;
		top: 130px;
		right: 0;
		background-color: #f2f2f2;
		padding: 0 0 20px 0;
		animation-name: fadeInUp;
		-webkit-animation-name: fadeInUp;
		animation-duration: 0.5s;
		-webkit-animation-duration: 0.5s;
	}
	.navbar .navbar-collapse.show .navbar-mjk-head .menuddmember-dropdown .dropdown-item{
		padding: 15px 30px 15px 20px;
	}

	/*search*/
	.button-search span{
		display: none;
	}
	header.sticky .search-body,
	.search-body{
		top: 0;
		height: 100%;
		background-color: rgba(0,0,0,0.9);
	}
	header.sticky .search-body input,
	.search-body input,
	header.sticky .search-body input[type="text"] ,
	.search-body input[type="text"] {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(-50%, 0);
		margin: auto;
		width: 70%;
	}
	header.sticky .search-body .close,
	.search-body .close{
		top: 30px;
	}
	header.sticky .search-body .close i,
	.search-body .close i{
		color: #ffffff;
	}

	/*reorder*/
	.reorder span{
		display: none;
	}
	
	/*button language*/
	.select-language.show .dropdown-menu,
	.select-language.show .dropdown-menu li{
		min-width: auto;
	}
	.select-language .dropdown-menu{
		background-color: #f2f2f2;
		border-color: none;
		z-index: 2;
		position: relative;
	}
	.select-language .dropdown-toggle{
		min-width: 60px;
		background-color: #f2f2f2;
		border-color: none;
		padding: 0 10px 0;
	}
	.select-language .dropdown-toggle:after{
		display: none;
	}
	.btn-group.bootstrap-select.select-language.nav-link.fit-width.show{
		top: 30px;
	}

	/*button caret for dropdown*/
	.navbar .caret-mjk-box .caret-mjk-desktop{
		display: none;
	}
	.navbar .caret-mjk-box .caret-mjk-mobile{
		display: block;
	}
	.navbar .caret-mjk-box{
		display: block;
		padding: 0;
		margin: 0;
		position: absolute;
		background-color: transparent;
		width: 48px;
		height: 48px;
		top: 0;
		right: 0;
		text-align: center;
		cursor: pointer;
	}
	.navbar .dropdown-submenu .caret-mjk-box{
		display: block;
		padding: 0;
		margin: 0;
		position: absolute;
		background-color: transparent;
		width: 48px;
		height: 48px;
		top: 0;
		right: 0;
		text-align: center;
		cursor: pointer;
		z-index: 5;
	}
	.navbar .caret-mjk-box[aria-expanded="true"] .caret-mjk-mobile .fa-plus{
		display: none;
	}
	.navbar .caret-mjk-box[aria-expanded="true"] .caret-mjk-mobile .fa-minus{
		display: block;
	}
	.navbar .caret-mjk-box[aria-expanded="false"] .caret-mjk-mobile .fa-plus{
		display: block;
	}
	.navbar .caret-mjk-box[aria-expanded="false"] .caret-mjk-mobile .fa-minus{
		display: none;
	}
	.navbar .dropdown-submenu > .caret-mjk-box .caret-mjk-mobile .fa-plus{
		display: block;
	}
	.navbar .dropdown-submenu > .caret-mjk-box .caret-mjk-mobile .fa-minus{
		display: none;
	}
	.navbar .dropdown-submenu.show > .caret-mjk-box .caret-mjk-mobile .fa-plus{
		display: none;
	}
	.navbar .dropdown-submenu.show > .caret-mjk-box .caret-mjk-mobile .fa-minus{
		display: block;
	}
	.navbar .caret-mjk-box .caret-mjk-mobile i{
		font-size: 11px;
		line-height: 48px;
		color: #ffffff;
	}
	.navbar .caret-mjk-box .caret-mjk-mobile .fa-minus{
		display: none;
	}

	/*megamenu*/
	.megamenu{
		position: relative;
	}
	.megamenu .container{
		width: 100%;
		max-width: 100%;
		padding-right: 0;
		padding-left: 0;
		margin-right: 0;
		margin-left: 0;
	}
	.megamenu .megamenu-body{
		padding: 0;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
		overflow: hidden;
		height: auto;
		max-height: 100%;
		background-color: transparent;
	}
	.megamenu .megamenu-content-list{
		margin-bottom: 0;
	}
	.megamenu .megamenu-content-list h3{
		margin: 0;
		font-size: 14px;
		color: #ab894b;
		line-height: 48px;
	}
	.megamenu .dropdown-item{
		color: #ffffff;
		padding: 0 15px 0;
		line-height: 48px;
	}

	/*add to cart*/
	.badges-bell-box{
		position: absolute;
		top: 34px;
		right: 15px;
	}
	.badges-bell i{
		color: #666666;
	}
	.badges-bell-box.hide-for-mobile{
		display: none !important;
	}
	.badges-bell-box.hide-for-desktop{
		display: block;
	}
}

/* Small Devices, Desktops */
@media only screen and (max-width : 812px) {

}

@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 767px) {
	
}

@media only screen and (max-width : 640px) {

}

@media only screen and (max-width : 575px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 375px) {

}

@media only screen and (max-width : 320px) {
	
}