/* =Responsive
-------------------------------------------------------------*/

@media only screen and (max-width : 991px) {
	.cart-box{
		overflow: auto;
	}
	.cart{
		min-width: 940px;
	}

}

@media only screen and (max-width : 768px) {
	.cart-hideformobile{
		display: none !important;
	}
	
	/*checkout*/
	.cart-body-checkout{
		background-color: #ececec !important;
		padding-bottom: 200px !important;
	}
	.cart-box{
		overflow: visible;
	}
	.cart{
		min-width: auto;
	}
	.cart .cart-tbody{
		position: relative;
		padding: 0;
		margin-bottom: 10px;
	}

	.cart-item h3{
		font-weight: 500;
		font-size: 14px;
		width: 90%;
	}
	.cart-item .td-col:nth-child(1){
		width: 145px;
	}
	.cart-item .td-col:nth-child(2){
		padding: 10px;
	}
	.cart-item .cart-item-desc-box{
		height: auto;
	}
	.cart-item .cart-item-img{
		height: 145px;
		width: 145px;
	}
	.cart-item .cart-item-desc{
		display: block;
		padding-left: 0;
	}
	.cart-item .cart-item-desc-amount{
		display: block;
		width: auto;
		padding-top: 10px;
	}
	.cart-item .cart-item-desc-amount > .td-col:nth-child(1),
	.cart-item .cart-item-desc-amount > .td-col:nth-child(2),
	.cart-item .cart-item-desc-amount > .td-col:nth-child(3){
		width: auto;
	}
	.cart-item .cart-item-desc-amount > .td-col.cart-amount-quantity{
		float: right;
		text-align: right;
	}
	.cart-item .cart-item-desc-amount > .td-col.cart-amount-price{
		display: none;
	}
	.cart-item .cart-item-desc-amount > .td-col.cart-amount-subtotal{
		float: left;
		text-align: left;
	}
	.cart-item .cart-item-desc-amount > .td-col.cart-amount-subtotal p{
		font-weight: 700;
		line-height: 30px;
		font-size: 14px;
	}
	.cart-item .td-col.cart-item-action{
		position: absolute;
		width: 50px !important;
		height: 40px;
		top: 0;
		right: 0;
		text-align: center;
		line-height: 40px;
	}

	.button-proceed-checkout-box{
		/*display: block;*/
	}

	/*versi review*/
	.cart-for-review .cart-item h3{
		width: 100%;
	}
	.cart-for-review .cart-item .cart-item-desc-amount{
		text-align: right;
		padding-top: 0;
	}
	.cart-for-review .cart-item .cart-item-desc-amount p{
		line-height: 18px;
	}
	.cart-for-review .cart-item .cart-item-desc-amount > .td-col.cart-amount-quantity{
		float: none;
		display: inline-block;
		padding-right: 20px;
		position: relative;
	}
	.cart-for-review .cart-item .cart-item-desc-amount > .td-col.cart-amount-quantity:after{
		content: "x";
		display: block;
		position: absolute;
		top: 0;
		right: 5px;
		font-size: 14px;
		line-height: 18px;
	}
	.cart-for-review .cart-item .cart-item-desc-amount > .td-col.cart-amount-price{
		float: none;
		display: inline-block;
		padding: 0;
	}
	.cart-for-review .cart-item .cart-item-desc-amount > .td-col.cart-amount-subtotal{
		float: none;
		display: block;
		text-align: right;
	}

	
	/*versi package fixed*/
	/*.cart-for-package .cart-amount{
		position: fixed;
		width: 100%;
		left: 0;
		right: 0;
		bottom: 49px;
		background: #ffffff;
		padding: 15px;
		z-index: 80;
	}
	.cart-for-package .cart-amount li{
		padding: 5px 0 5px;
		border-bottom: none;
		justify-content: flex-end;
	}
	.cart-for-package .cart-amount li > div:first-child{
		text-align: right;
	}
	.cart-for-package .cart-amount li > div:last-child{
		width: 200px;
		text-align: right;
	}
	.cart-for-package .cart-amount li > div:first-child h4,
	.cart-for-package .cart-amount li > div:first-child p{
		margin: 0;
		font-size: 12px;
		color: #999999;
	}
	.cart-for-package .cart-amount li > div:last-child h4,
	.cart-for-package .cart-amount li > div:last-child p{
		margin: 0;
		font-size: 13px;
		font-weight: 600;
	}
	.cart-for-package .cart-amount li > div > h4{
		line-height: 20px;
	}
	.cart-for-package .cart-amount .grand-total-value h4{
		font-size: 17px !important;
	}
	.cart-for-package .cart-amount .voucher-code-value .input-group{
		padding-left: 20px;
	}
	.cart-for-package .cart-amount-action{
		display: none;
	}*/
	
}

@media only screen and (max-width : 767px) {
	.cart-hideformobile{
		display: none !important;
	}
	.cart-tbody li{
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (max-width : 480px) {
	.cart-item .td-col:nth-child(1){
		width: 90px;
	}
	.cart-item .cart-item-img{
		width: 90px;
		height: 90px;
	}
	.cart-item h3{
		font-size: 13px;
		margin: 0;
	}
	.cart-item h4{
		font-size: 10px;
		line-height: 12px;
	}
	.cart-item p{
		font-size: 10px;
	}
	
	/*versi review*/
	.cart-for-review .cart-amount li p{
		font-size: 14px;
	}
	.cart-for-review .cart-amount li h4{
		font-size: 18px;
	}

	/*versi normal relative*/
	.voucher-code{
		max-width: 80px;
	}
	.cart-amount li p{
		line-height: 18px;
	}
	.cart-ordernote,
	.cart-amount li,
	.cart-amount-action{
		padding-left: 0;
		padding-right: 0;
	}
	.cart-amount li > div:last-child{
		text-align: right;
	}
	.cart-amount-action{
		justify-content: space-between;
	}

}

@media only screen and (max-width : 375px) {
	
	.cart-item .cart-item-desc-amount{
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		align-items: flex-end;
	}
	.cart-item .cart-item-desc-amount > .td-col.cart-amount-quantity{
		order: 2;
	}
	.cart-item .cart-item-desc-amount > .td-col.cart-amount-subtotal{
		order: 1;
	}
	.cart-item .cart-item-desc-amount > .td-col.cart-amount-quantity,
	.cart-item .cart-item-desc-amount > .td-col.cart-amount-subtotal{
		float: none;
		text-align: right;
	}
}

@media only screen and (max-width : 375px) {
	.cart-amount li > div:last-child{
		width: 180px;
	}

}