/*!
* PT. IMAJIKU CIPTA MEDIA
* Copyright 2019-2020 IMAJIKU.
*/

/* =CSS Reset : reset default browser style
-------------------------------------------------------------*/
html ,body{
	background: #ffffff;
	position: relative;
	overflow-x: hidden;
}

body {
	color: #666666;
	font-size: 14px;
	/*line-height: 24px;*/
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

button, input, optgroup, select, textarea{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

figure{
	margin: 0;
	width: 100%;
	height: 100%;
}
.underline{
	text-decoration: underline;
	text-decoration-color: #f98341;
}
.strikethrough  {
	text-decoration: line-through;
	text-decoration-color: #f98341;
}
.center {
	margin: 0 auto;
	text-align: center;
}

/* =Hyperlink
------------------------------------------------------------ */
a{
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
a:link {color: #d9bb84; text-decoration: none;}
a:visited {color: #d9bb84; text-decoration: none;}
a:hover {
	color: #ab894b;
	text-decoration: none;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
a:hover, a:active {outline: 0 0;}
a:focus{outline: 0;}


/* =Font-Family
------------------------------------------------------------ */

/* =Typography
------------------------------------------------------------ */
h1, h2, h3, h4, h5, h6 { font-family: 'Roboto', sans-serif; font-weight: 700; color: #151515;}

p { font-family: 'Montserrat', sans-serif; color: #333333; font-size: 14px;}

a { color: #d32f2f; }


/* =Color
------------------------------------------------------------ */
.clr-blue{
	color: #0c1d6b;
}
.clr-red{
	color: #c32c0e;
}
.clr-brown{
	color: #d9bb84;
}
/*background*/
.bg-clr-blue{
	background-color: #0c1d6b;
}
.bg-clr-red{
	background-color: #c32c0e;
}

/* =list
------------------------------------------------------------ */
ul ,ol {
	padding-left: 15px;
	color: #333333;
}
.list-unstyled {
	padding: 0; 
	margin-top: 0;
	list-style: none;
}
.list-style-circle {
	list-style-type: circle;
}
.list-style-square {
	list-style-type: square;
}